@import "typography";

// -------------HEADINGS--------------
h1,
h2,
h3,
h4,
h5 {
    font-family: 'crimson';
}

// Hoofdtitels: woonkrediet -- lening op afbetaling
h1 {
    font-size: 36px;
    line-height: 40px;
}

// Subtitels: Nieuws & updates -- lening op afbetaling
h2 {
    font-size: 56px;
    line-height: 56px;
}

h3 {
    font-size: 28px;
    line-height: 48px;
}

h4 {
    font-size: 17px;
    line-height: 24px;
    // font-size: 36px;
    // line-height: 40px;
}

h5 {
    font-size: 21px;
    line-height: 25px;
}

h6 {
    font-size: 20px;
    line-height: 25px;
}

.hide-for-tablet {
    display: none;
}

.hide-for-desktop {
    display: block;
}

.nav-link {
    padding: 0;
}


// -------------DEFAULT SETTING FONTS--------------

body {
    font-family: 'roboto';
    font-size: 16px;
    line-height: 24px;
}

p {
    font-size: 16px;
    line-height: 24px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}



// // Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

    h1 {
        font-size: 62px;
        line-height: 64px;
    }
    
    h2 {
        font-size: 56px;
        line-height: 56px;
    }
    
    h3 {
        font-size: 48px;
        line-height: 48px;
    }
    
    h4 {
        font-size: 18px;
        line-height: 24px;
    }
    
    h5 {
        font-size: 21px;
        line-height: 25px;
    }
    
    h6 {
        font-size: 20px;
        line-height: 25px;
    }

    .hide-for-tablet {
        display: none;
    }

    .hide-for-desktop {
        display: block;
    }

   
}


// // Medium devices (tablets, 768px and up)
@media (min-width: 768px) {


}


// // Large devices (desktops, 992px and up)
@media (min-width: 992px) {

    .hide-for-tablet {
        display: block;
    }
    .hide-for-desktop {
        display: none;
    }

    header {
        margin-top: 150px;
    }
}