// -------------MISTUBISHI FONTS--------------
@font-face {
    font-family: 'mmc';
    src: url('../../assets/fonts/MMC/MMC-Regular.woff') format('woff'),
         url('../../assets/fonts/MMC/MMC-Regular.woff2') format('woff2');  
    font-weight: normal;
    font-style: normal;
   }

   @font-face {
    font-family: 'mmc-bold';
    src: url('../../assets/fonts/MMC/MMC-Bold.woff') format('woff'),
         url('../../assets/fonts/MMC/MMC-Bold.woff2') format('woff2');  
    font-weight: normal;
    font-style: normal;
   }

   @font-face {
    font-family: 'mmc-medium';
    src: url('../../assets/fonts/MMC/MMC-Medium.woff') format('woff'),
         url('../../assets/fonts/MMC/MMC-Medium.woff2') format('woff2');  
    font-weight: normal;
    font-style: normal;
   }


   