// -------------PRIMARY COLOURS MISTUBISHI--------------
$primary-lightblue: #67C6DD;
$primary-darkblue: #0A51A1;
$primary-grey: #D8E1E8;


// -------------SECONDARY COLOURS MITSUBISHI--------------

$sec-yellow: #EBBD00;
$sec-darkgrey: #5D6061;
$sec-green: #8B9C22;
$sec-black: #222222;
$sec-red: #D11C1C;

.row {
    margin-right: 0;
    margin-left: 0;
}






