// -------------PRIMARY COLOURS MISTUBISHI--------------
$mitsu-red: #ED0000; 
$mitsu-black: #000000; 
$mitsu-white: #FFFFFF; 

// -------------SECONDARY COLOURS MITSUBISHI--------------
$mitsu-darkgrey:#5A646E;  
$mitsu-lightgrey: #c8c8c8; 
$mitsu-offwhite: #f6f6f6; 

$mitsu-anthragrey: #6b6d71; 
$mitsu-coldgrey: #bfc2c4; 
$mitsu-concretegrey: #e3e5e6; 






