/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

@font-face {
  font-family: 'crimson';
  src: url("../../assets/fonts/crimson/CrimsonText-Regular.woff") format("woff"), url("../../assets/fonts/crimson/CrimsonText-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'crimson-bold';
  src: url("../../assets/fonts/crimson/CrimsonText-Bold.woff") format("woff"), url("../../assets/fonts/crimson/CrimsonText-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'crimson-italic';
  src: url("../../assets/fonts/crimson/Roboto-Italic.woff") format("woff"), url("../../assets/fonts/crimson/Roboto-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto';
  src: url("../../assets/fonts/roboto/Roboto-Regular.woff") format("woff"), url("../../assets/fonts/roboto/Roboto-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto-bold';
  src: url("../../assets/fonts/roboto/Roboto-Bold.woff") format("woff"), url("../../assets/fonts/roboto/Roboto-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto-italic';
  src: url("../../assets/fonts/roboto/Roboto-Italic.woff") format("woff"), url("../../assets/fonts/roboto/Roboto-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto-medium';
  src: url("../../assets/fonts/roboto/Roboto-Medium.woff") format("woff"), url("../../assets/fonts/roboto/Roboto-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto-condensed';
  src: url("../../assets/fonts/roboto_condensed/RobotoCondensed-Regular.woff") format("woff"), url("../../assets/fonts/roboto/RobotoCondensed-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto-condensed-light';
  src: url("../../assets/fonts/roboto_condensed/RobotoCondensed-Light.woff") format("woff"), url("../../assets/fonts/roboto/RobotoCondensed-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'crimson';
}

h1 {
  font-size: 36px;
  line-height: 40px;
}

h2 {
  font-size: 56px;
  line-height: 56px;
}

h3 {
  font-size: 28px;
  line-height: 48px;
}

h4 {
  font-size: 17px;
  line-height: 24px;
}

h5 {
  font-size: 21px;
  line-height: 25px;
}

h6 {
  font-size: 20px;
  line-height: 25px;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

.hide-for-tablet {
  display: none;
}

.hide-for-desktop {
  display: block;
}

.hide-for-mobile {
  display: none;
}

.show-for-mobile-only {
  display: block;
}

.nav-link {
  padding: 0;
}

body {
  font-family: 'roboto';
  font-size: 16px;
  line-height: 24px;
}

p {
  font-size: 16px;
  line-height: 24px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

@media (min-width: 576px) {
  h1 {
    font-size: 56px;
    line-height: 56px;
  }
  h2 {
    font-size: 56px;
    line-height: 56px;
  }
  h3 {
    font-size: 48px;
    line-height: 48px;
  }
  h4 {
    font-size: 18px;
    line-height: 24px;
  }
  h5 {
    font-size: 21px;
    line-height: 25px;
  }
  h6 {
    font-size: 20px;
    line-height: 25px;
  }
  .hide-for-tablet {
    display: none;
  }
  .show-for-mobile-only {
    display: none;
  }
  .hide-for-desktop {
    display: block;
  }
}

@media (min-width: 992px) {
  h1 {
    font-size: 62px;
    line-height: 64px;
  }
  .hide-for-tablet {
    display: block;
  }
  .hide-for-desktop {
    display: none;
  }
  .show-for-mobile-only {
    display: none;
  }
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.contact-form {
  background-color: #D8E1E8;
}

.form__item {
  position: relative;
  margin-bottom: 50px;
}

.contact-form label {
  position: absolute;
  top: -12.5px;
  left: 10px;
  padding: 0 10px;
  background-color: white;
  font-size: 16px;
  color: black;
  letter-spacing: 0;
  line-height: 24px;
}

input {
  padding-left: 10px;
  height: 55px;
  font-size: 14px;
  color: #00275B;
  border: 1px solid #BFBFBF;
  outline: none;
  width: 100%;
}

input:focus {
  border: 1px solid #0A51A1;
}

textarea {
  width: 100%;
  padding-left: 10px;
  padding-top: 10px;
  font-size: 14px;
  color: #00275B;
  border: 1px solid #BFBFBF;
  outline: none;
}

textarea:focus {
  font-size: 16px;
}

.checkbox {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  line-height: 20px;
  font-size: 14px;
  padding: 10px 0 0;
  width: 50%;
  word-break: break-all;
  padding-right: 10px;
}

.checkbox .label {
  position: relative;
  display: block;
  margin-right: 10px;
  width: 22px;
  height: 22px;
  border: 1px solid #CFCFCF;
  background: white;
  border-radius: 100%;
  -webkit-tap-highlight-color: transparent;
}

.checkbox .label:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 14px;
  height: 14px;
  border-radius: 100%;
  background: #0A51A1;
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0.08;
  pointer-events: none;
}

.checkbox__woonkrediet .checkbox .label:after {
  background: #0A51A1;
}

.checkbox__lening-op-afbetaling .checkbox .label:after {
  background: #8B9C22;
}

.checkbox__woonkrediet input[type="checkbox"]:hover + .label {
  border-color: #0A51A1;
}

.checkbox__lening-op-afbetaling input[type="checkbox"]:hover + .label {
  border-color: #8B9C22;
}

input[type="checkbox"]:checked + .label:after {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.2s cubic-bezier(0.35, 0.9, 0.4, 0.9);
  transition: all 0.2s cubic-bezier(0.35, 0.9, 0.4, 0.9);
  opacity: 1;
}

.hidden {
  display: none;
}

.select label {
  background: unset;
}

.radio {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  line-height: 20px;
  font-size: 14px;
  padding: 10px 0 0;
  width: 50%;
  word-break: break-all;
  padding-right: 10px;
}

.radio .label {
  position: relative;
  display: block;
  margin-right: 10px;
  width: 22px;
  height: 22px;
  border: 1px solid #CFCFCF;
  background: white;
  border-radius: 100%;
  -webkit-tap-highlight-color: transparent;
}

.radio .label:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 14px;
  height: 14px;
  border-radius: 100%;
  background: #0A51A1;
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0.08;
  pointer-events: none;
}

.radio__woonkrediet .radio .label:after {
  background: #0A51A1;
}

.radio__lening-op-afbetaling .radio .label:after {
  background: #8B9C22;
}

.radio__woonkrediet input[type="radio"]:hover + .label {
  border-color: #0A51A1;
}

.radio__lening-op-afbetaling input[type="radio"]:hover + .label {
  border-color: #8B9C22;
}

input[type="radio"]:checked + .label:after {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.2s cubic-bezier(0.35, 0.9, 0.4, 0.9);
  transition: all 0.2s cubic-bezier(0.35, 0.9, 0.4, 0.9);
  opacity: 1;
}

.hidden {
  display: none;
}

.select label {
  background: unset;
}

input[type="submit"] {
  background-color: #0A51A1;
  color: white;
  width: auto;
  position: relative;
  display: inline-block;
  height: 50px;
  padding: 18px 20px;
  text-align: center;
  line-height: 14px;
  min-width: 160px;
  border-radius: 24.5px;
  font-size: 16px;
  font-weight: bold;
}

@media (min-width: 576px) {
  label {
    font-size: 16px;
  }
  textarea {
    font-size: 16px;
  }
  .checkbox {
    font-size: 16px;
  }
}

.main-nav {
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
  height: 60px;
  background-color: white;
}

.main-nav__list__item {
  -webkit-transition: all .5s;
  transition: all .5s;
}

.main-nav__list__item a {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #222222;
  font-family: 'roboto-bold';
  border: 1px solid #D8E1E8;
  border-left: unset;
  text-transform: lowercase;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.main-nav__list__item a:hover {
  border-bottom: 3px solid #0A51A1;
  color: #0A51A1;
}

.main-nav__list__item-home {
  background-color: #EBBD00;
}

.main-nav__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0A51A1;
  padding: 15px;
}

.main-nav__logo img {
  display: inline-block;
  height: 31px;
  width: 119px;
}

.mobile-nav {
  overflow-y: scroll;
  background-color: white;
  position: fixed;
  top: 60px;
  right: 0;
  z-index: 2;
  height: calc(100% - 60px);
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.mobile-nav__list__item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 80px;
  font-weight: bold;
  font-size: 14px;
  color: #222222;
  text-align: center;
  line-height: 24px;
  text-transform: lowercase;
  width: 250px;
  border: 1px solid #D8E1E8;
  border-top: 1px solid white;
}

.mobile-nav__language-container {
  height: 80px;
}

.mobile-nav__language__item {
  width: 100%;
  height: 100%;
}

.mobile-nav__language__item__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  font-weight: bold;
  font-size: 14px;
  color: #A0A5A8;
  letter-spacing: 0.52px;
  text-align: center;
  line-height: 24px;
  text-transform: uppercase;
}

.mobile-nav__language__item__link-left {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 20px;
}

.mobile-nav__language__item__link-right {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 20px;
}

.mobile-nav__language__item__link-active {
  font-weight: bold;
  color: black;
}

.mobile-nav__item__link {
  padding: 0 20px;
  text-transform: uppercase !important;
}

.mobile-nav__active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.mobile-nav__item {
  padding: 0 20px;
}

.hamburger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 63px;
}

.hamburger .line {
  width: 22px;
  height: 2px;
  margin: 2px auto;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background: black;
}

#hamburger-1.is-active .line:nth-child(2) {
  opacity: 0;
}

#hamburger-1.is-active .line:nth-child(1) {
  -webkit-transform: translateY(6px) translateX(-2px) rotate(45deg);
          transform: translateY(6px) translateX(-2px) rotate(45deg);
  width: 26px;
}

#hamburger-1.is-active .line:nth-child(3) {
  -webkit-transform: translateY(-6px) translateX(-2px) rotate(-45deg);
          transform: translateY(-6px) translateX(-2px) rotate(-45deg);
  width: 26px;
}

@media (min-width: 576px) {
  .main-nav__logo {
    padding: 8px 19px;
  }
  .main-nav__logo img {
    height: 100%;
    width: 100%;
  }
}

@media (min-width: 992px) {
  .main-nav__logo {
    padding: 19px;
  }
  .main-nav {
    height: 80px;
  }
  .mobile-nav {
    height: calc(100% - 80px);
  }
}

.btn {
  position: relative;
  display: inline-block;
  height: 50px;
  padding: 18px 20px;
  text-align: center;
  line-height: 14px;
  min-width: 160px;
  border-radius: 24.5px;
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.btn-blue {
  background-color: #0A51A1;
}

.btn-blue:hover {
  background-color: #67C6DD;
  color: white;
}

.btn-green {
  background-color: #8B9C22;
}

.btn-green:hover {
  background-color: #5D6061;
  color: white;
}

.btn-white {
  background-color: white;
  color: #0A51A1;
}

.btn-yellow {
  background-color: #EBBD00;
}

.btn-yellow svg {
  position: absolute;
  right: -31px;
  top: -28px;
}

.btn-yellow:hover {
  background-color: #EBBD00;
  color: white;
}

.btn-yellow:hover .wifi-wave1 {
  opacity: 1;
  -webkit-animation: example 1s .2s ease-in-out infinite;
          animation: example 1s .2s ease-in-out infinite;
}

.btn-yellow:hover .wifi-wave2 {
  opacity: 1;
  -webkit-animation: example2 1s .5s ease-in-out infinite;
          animation: example2 1s .5s ease-in-out infinite;
}

@-webkit-keyframes example {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes example {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes example2 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes example2 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blog__uppertitle {
  font-family: 'roboto';
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 50px;
}

.blog__article {
  margin-bottom: 40px;
}

.blog {
  margin: 50px 60px;
}

.blog__link {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: black;
}

.blog__link:hover {
  color: unset;
}

.blog__title {
  font-family: 'roboto';
  font-weight: bold;
  margin: 15px 0;
}

.blog__category {
  margin-top: 20px;
  font-size: 15px;
  font-weight: bold;
  line-height: 18px;
}

.blog__date {
  margin-top: 20px;
  font-size: 13px;
  font-weight: bold;
  line-height: 18px;
  color: rgba(93, 96, 97, 0.5);
}

.blog__image-container {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  position: relative;
  height: 250px;
}

.blog__image {
  -o-object-fit: cover;
     object-fit: cover;
  font-family: 'object-fit: cover;';
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.blog__image-overlay {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(139, 156, 34, 0);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.blog__image-overlay img {
  width: 24px;
  height: 24px;
  opacity: 0;
  -webkit-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}

.blog .blog__woonkrediet .blog__category {
  color: #0A51A1;
}

.blog .blog__lening-op-afbetaling .blog__category {
  color: #8B9C22;
}

.blog__article:hover .blog__image {
  -o-object-fit: cover;
     object-fit: cover;
  font-family: 'object-fit: cover;';
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.blog__article:hover .blog__image-container {
  -webkit-box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
          box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
}

.blog__article:hover .blog__image-overlay {
  position: absolute;
  z-index: 10;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(139, 156, 34, 0.9);
}

.blog__article:hover .blog__image-overlay img {
  opacity: 1;
}

.blog__woonkrediet:hover .blog__image-overlay {
  background-color: rgba(10, 81, 161, 0.9);
}

.blog__lening-op-afbetaling:hover .blog__image-overlay {
  background-color: rgba(139, 156, 34, 0.9);
}

@media (min-width: 576px) {
  .blog {
    margin: 70px 100px;
  }
  .blog__uppertitle {
    margin-bottom: 70px;
  }
  .header__intro__title {
    font-size: 46px;
    line-height: 47px;
  }
}

.warning {
  background-color: #67C6DD;
  padding: 15px 0;
}

.warning__text {
  font-family: 'roboto-condensed-light';
  font-size: 30px;
  color: #FFFFFF;
  line-height: 35px;
}

@media (min-width: 576px) {
  .warning {
    padding: 45px 0;
  }
  .warning__text {
    font-size: 38px;
  }
}

.footer {
  background-color: #D8E1E8;
  font-size: 14px;
  line-height: 24px;
}

.footer__container {
  padding: 40px 0;
}

.footer__logo {
  width: 100%;
  max-width: 160px;
  margin-bottom: 30px;
}

.footer ul li {
  margin-bottom: 10px;
}

.footer ul li a {
  text-decoration: underline;
}

.footer__bottom {
  padding: 25px 0;
  background-color: #EBF0F3;
}

.footer__bottom__copyright {
  font-size: 12px;
  color: #000303;
  line-height: 16px;
}

.footer__bottom__webagency {
  font-size: 12px;
  color: #000303;
  line-height: 16px;
}

@media (min-width: 576px) {
  .footer ul li {
    margin-bottom: inherit;
  }
}

@media (min-width: 992px) {
  .footer__logo {
    margin-bottom: 0px;
  }
}

.seo {
  margin: 70px 0;
}

.seo p {
  margin-bottom: 30px;
}

.contact {
  background-color: #0A51A1;
  padding: 50px 0;
}

.contact__title {
  color: white;
  text-align: center;
}

.contact__border {
  background-color: #67C6DD;
  width: 100%;
  height: 1px;
  margin: 15px 0;
}

.contact__info-container {
  padding-top: 5px;
  padding-bottom: 5px;
}

.contact__info {
  padding-top: 15px;
  padding-bottom: 15px;
}

.contact__info__link {
  font-size: 18px;
  color: #FFFFFF;
  text-align: center;
  line-height: 32px;
}

.contact__info__link:hover {
  color: white;
}

.contact__info__image {
  height: 42px;
  margin-bottom: 15px;
}

@media (min-width: 576px) {
  .contact__border {
    margin: 0;
    width: 1px;
    height: 100%;
  }
  .contact__info-container {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .contact__info {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .contact__info__link {
    font-size: 21px;
    color: #FFFFFF;
    text-align: center;
    line-height: 32px;
  }
}

.intro {
  padding: 40px 0 60px 0;
  background-color: #EBF0F3;
}

.intro__text {
  margin: 30px 0;
  font-family: "roboto";
}

.intro-woonkrediet {
  margin: 40px 0;
}

@media (min-width: 992px) {
  .intro {
    padding: 100px 0 100px 0;
  }
  .intro-woonkrediet {
    margin: 100px 0;
  }
}

.header {
  padding: 20px 0 60px 0;
}

.header__intro__title {
  color: #222222;
}

.header__intro__text {
  margin: 20px 0;
}

.header__image {
  margin: 30px 0;
}

.header__image img {
  height: 200px;
}

.loan {
  position: relative;
}

.loan__bg {
  position: absolute;
  bottom: 0;
  height: 75%;
  width: 100%;
  background: #D8E1E8;
}

.loan__item {
  height: 250px;
  margin-bottom: 15px;
  border-radius: 7px;
  position: relative;
  display: inline-block;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.loan__item:hover {
  cursor: pointer;
  -webkit-transform: scale(1.01, 1.01);
          transform: scale(1.01, 1.01);
}

.loan__item::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 7px;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  -webkit-box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
          box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
}

.loan__item::after:hover {
  opacity: 1;
}

.loan__item:hover::after {
  opacity: 1;
}

.loan__item__title {
  font-family: 'roboto';
  margin-top: 40px;
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
  font-size: 24px;
  text-align: center;
  line-height: 32px;
}

.loan .svg-stroke {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.loan .svg-fill {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.loan__woonkrediet {
  background-color: #C3D4E7;
}

.loan__woonkrediet:hover .svg-stroke {
  stroke: white;
}

.loan__woonkrediet:hover .svg-fill {
  fill: white;
}

.loan__woonkrediet:hover .loan__item__title {
  color: white;
}

.loan__lening {
  background-color: #8B9C22;
}

.loan__lening:hover .svg-stroke {
  stroke: white;
}

.loan__lening:hover .svg-fill {
  fill: white;
}

.loan__lening:hover .loan__item__title {
  color: white;
}

.contact-us {
  background-color: #D8E1E8;
  padding: 50px 0;
}

.contact-us__title {
  padding-bottom: 30px;
}

@media (min-width: 576px) {
  .header__intro__text {
    margin: 45px 0;
  }
  .header__image img {
    height: 260px;
  }
  .header__text {
    margin: 45px 0;
  }
  .loan__bg {
    height: 50%;
  }
  .loan__item {
    height: 320px;
    margin-bottom: 0;
  }
}

@media (min-width: 992px) {
  .header {
    padding: 100px 0 100px 0;
  }
  .header__image {
    margin: 0;
  }
  .header__image img {
    height: auto;
  }
  .loan__item {
    height: 320px;
    margin-bottom: 0;
  }
}

.simulator {
  padding: 40px 0 60px 0;
  background-color: #D8E1E8;
}

.simulator__title {
  padding-bottom: 60px;
}

.values {
  padding-top: 50px;
  padding-bottom: 100px;
}

.values__title {
  margin-bottom: 50px;
}

.value {
  margin-bottom: 30px;
}

.value__image {
  height: 32px;
}

.value__title {
  padding-top: 12px;
  padding-bottom: 20px;
  font-family: 'roboto';
  font-weight: 500;
  font-size: 17px;
  color: #000303;
  line-height: 24px;
}

@media (min-width: 992px) {
  .simulator {
    padding: 100px 0 100px 0;
  }
}

.simulator {
  font-family: 'roboto';
}

.simulator p {
  color: white;
}

.simulator .simulation-legal h2 {
  font-family: 'roboto';
  font-size: 24px;
  font-weight: bold;
}

.simulator .simulation-legal h3 {
  font-family: 'roboto';
  font-size: 20px;
  font-weight: bold;
}

button {
  cursor: pointer;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.hidden {
  display: none;
}

.rij {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bs-uitkomst--active {
  max-height: 615px;
}

.berekeningsimulatie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 80px;
  width: 100vw;
  background: #1655d9;
}

.form__extra {
  margin-top: 0;
}

.form__extra .bs-uitkomst__aanvragen {
  margin-top: 0;
}

.bs {
  width: 80vw;
  max-width: 1140px;
}

.bs button {
  font-family: 'roboto-medium';
  outline: none;
  height: 40px;
}

.bs button:hover {
  opacity: 0.9;
}

.bs button:active {
  opacity: 0.8;
}

.bs-form {
  background-color: white;
  padding: 40px;
  width: 80%;
  max-width: 400px;
}

.bs-form form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.bs-form form > :nth-child(n) {
  margin-top: 40px;
}

.bs-form__question__div h2 {
  font-size: 18px;
  margin-bottom: 5px;
}

.bs-form__slider__div__button {
  width: 100%;
  background-color: white;
  border: solid rgba(53, 53, 53, 0.2) 1px;
  padding: 0 5px;
  font-size: 11px;
}

.bs-form__slider__div__button--active {
  background-color: #1655d9;
  border: none;
  color: white;
}

.bs-form__slider__div__button--active:hover {
  opacity: 1 !important;
  cursor: auto !important;
}

.bs-form__input__div {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.bs-form__input__div > div {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  width: 100%;
  border: solid rgba(53, 53, 53, 0.2) 1px;
  background: none;
  font-size: 14px;
}

.bs-form__input__div label {
  height: 100%;
  margin-right: 20px;
  text-align: right;
  vertical-align: middle;
  color: rgba(53, 53, 53, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bs-form__input__div input {
  height: 100%;
  width: 100%;
  text-align: center;
  border: none;
  outline: none;
  color: rgba(53, 53, 53, 0.7);
  font-size: 14px;
}

.bs-form__input__div button {
  width: 40px;
  font-size: 18px;
  padding: 0 5px;
  border: none;
  background: #1655d9;
  color: white;
}

.bs-form__bereken {
  border: none;
  background: #1655d9;
  color: white;
  padding: 0 20px;
  font-size: 16px;
}

.bs-uitkomst {
  text-align: center;
  width: 100%;
  padding: 40px;
  margin-left: 20px;
  background-color: #8b9c22;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bs-uitkomst__aanvragen {
  border: none;
  background: #db7b23;
  color: white;
  padding: 10px 30px;
  font-size: 14px;
}

.bs-uitkomst__resultaat {
  margin-top: 10px;
  font-size: 16px;
}

.bs-uitkomst__resultaat__bedrag {
  font-family: 'crimson';
  font-size: 50px;
  display: inline-block;
}

.bs-uitkomst__resultaat__bedrag__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
  margin-bottom: 50px;
  margin-right: 5px;
}

.bs-uitkomst__resultaat__eur {
  color: #1655d9;
  margin-top: -7px;
  margin-left: 5px;
}

.bs-uitkomst__uitleg p {
  font-size: 14px;
  margin-top: 40px;
  margin-bottom: 40px;
  line-height: 24px;
}

.bs-uitkomst__jkp__info {
  cursor: pointer !important;
  color: #0A51A1 !important;
  text-decoration: underline !important;
}

.simulation-legal {
  color: white;
  position: relative;
  text-align: left;
  overflow-y: scroll;
  line-height: 1.5;
}

.simulation-legal li {
  color: inherit;
}

.simulation-legal::-webkit-scrollbar {
  background-color: rgba(255, 255, 253, 0.5);
  border-radius: 20px;
}

.simulation-legal::-webkit-scrollbar-thumb {
  background-color: #1655d9;
  border-radius: 20px;
}

.simulation-legal > div > div {
  margin-bottom: 60px;
  padding-right: 40px;
}

.simulation-legal > div > div > h2, .simulation-legal > div > div > p, .simulation-legal > div > div > ul {
  margin-bottom: 20px;
}

.simulation-legal > div > div > ul {
  padding-left: 20px;
}

.simulation-legal__exit {
  position: absolute;
  top: 0;
  right: 20px;
}

.simulation-legal__exit button {
  border-radius: 1px;
  cursor: pointer;
  background: #db7b23;
}

.bs-uitkomst__resultaat-color {
  color: #1655d9;
}

.submit__formulier {
  cursor: pointer;
  text-decoration: underline;
  background: none;
  height: auto !important;
  padding: 0;
}

.maandAflossing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 40px;
  background-color: #1655d9;
  color: white;
  font-size: 14px;
  font-weight: 400;
}

.selectMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 40px;
  font-size: 14px;
  font-weight: 400;
}

.selectArea {
  margin-top: 0 !important;
}

@media only screen and (max-width: 1023px) {
  .berekeningsimulatie {
    padding: 80px 20px;
  }
  .bs {
    width: 100%;
  }
}

@media only screen and (max-width: 700px) {
  .berekeningsimulatie {
    padding: 20px;
    max-height: none;
  }
  .bs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .bs-form {
    width: 100%;
    max-width: initial;
  }
  .bs-uitkomst {
    width: 100%;
    margin: 20px 0 0;
    min-height: 320px;
  }
  .simulation-legal > div > div {
    padding-right: 0;
  }
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.error_msg {
  color: red;
}

.buttonError {
  opacity: 0.6;
}

.buttonError:hover {
  opacity: 0.6 !important;
}

.loan__svg {
  margin-bottom: 20px;
}

.loan__svg g {
  stroke: white;
}

.loan__svg .svg-fill {
  fill: white;
}

.loan__title {
  font-family: 'roboto';
  font-size: 18px;
  color: #000303;
  letter-spacing: 0;
  text-align: center;
  line-height: 28px;
  width: 100%;
  display: inline-block;
  padding-bottom: 10px;
  text-align: center;
  font-weight: normal;
}

.loan__text {
  font-family: 'roboto';
  font-size: 16px;
  color: white;
  text-align: center;
  font-weight: normal;
}

.berekeningsimulatie {
  background: #d8e1e8;
}

.bs-form__slider__div__button--active {
  background-color: #8b9c22;
}

.bs-form__input__div button {
  background: #8b9c22;
}

.bs-form__slider__div__button--active:hover {
  background-color: #8b9c22;
}

.bereken-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bs-form__bereken {
  background: #8b9c22;
  border-radius: 24.5px;
}

.bs-uitkomst__aanvragen {
  background: #03ace8;
}

.bs-uitkomst__resultaat__eur {
  color: white;
  font-family: 'crimson';
}

.submit__formulier {
  background: none;
  color: #0a51a1;
}

.simulation-legal__exit button {
  background: #0a51a1;
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  font-weight: bold;
}

.bs-uitkomst__resultaat-color {
  color: white;
}

.simulation-legal::-webkit-scrollbar-thumb {
  background-color: #0a51a1;
  background-color: rgba(255, 255, 255, 0.8);
}

.bs-uitkomst__jkp__info {
  color: #0a51a1;
}

.btn-simulator {
  margin-bottom: 10px;
  position: relative;
  display: inline-block;
  height: 50px !important;
  padding: 18px 20px;
  text-align: center;
  line-height: 14px;
  min-width: 160px;
  border-radius: 24.5px;
  color: white;
  font-size: 16px;
  background-color: #0a51a1;
}

.loan-detail__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-left: none;
  border-right: none;
}

.loan-detail__item {
  width: 50%;
  padding: 11px 8px;
}

.loan-detail__color {
  background: white;
  background-color: rgba(255, 255, 255, 0.2);
}

.vs__selected {
  height: 100% !important;
}

.vs--searchable .vs__dropdown-toggle {
  height: 50px !important;
}

#vs1__listbox li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#vs1__listbox li:hover {
  background: #8b9c22;
  cursor: pointer;
}

.vs__dropdown-option {
  height: 40px !important;
}

.vs__dropdown-option .vs__dropdown-option--selected {
  background: #8b9c22 !important;
  height: 40px !important;
}

.vs__dropdown-option--highlight {
  background: #8b9c22 !important;
  height: 40px !important;
}

button.vs__clear {
  display: none;
}

.v-select {
  position: relative;
  font-family: inherit;
}

.v-select, .v-select * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@-webkit-keyframes vSelectSpinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

@keyframes vSelectSpinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

.vs__fade-enter-active, .vs__fade-leave-active {
  pointer-events: none;
  -webkit-transition: opacity 0.15s cubic-bezier(1, 0.5, 0.8, 1);
  transition: opacity 0.15s cubic-bezier(1, 0.5, 0.8, 1);
}

.vs__fade-enter, .vs__fade-leave-to {
  opacity: 0;
}

.vs--disabled .vs__clear, .vs--disabled .vs__dropdown-toggle, .vs--disabled .vs__open-indicator, .vs--disabled .vs__search, .vs--disabled .vs__selected {
  cursor: not-allowed;
  background-color: #f8f8f8;
}

.v-select[dir=rtl] .vs__actions {
  padding: 0 3px 0 6px;
}

.v-select[dir=rtl] .vs__clear {
  margin-left: 6px;
  margin-right: 0;
}

.v-select[dir=rtl] .vs__deselect {
  margin-left: 0;
  margin-right: 2px;
}

.v-select[dir=rtl] .vs__dropdown-menu {
  text-align: right;
}

.vs__dropdown-toggle {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 4px;
  background: none;
  border: 1px solid rgba(60, 60, 60, 0.26);
  border-radius: 4px;
  white-space: normal;
}

.vs__selected-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 2px;
  position: relative;
}

.vs__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4px 6px 0 3px;
}

.vs--searchable .vs__dropdown-toggle {
  cursor: text;
}

.vs--unsearchable .vs__dropdown-toggle {
  cursor: pointer;
}

.vs--open .vs__dropdown-toggle {
  border-bottom-color: transparent;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.vs__open-indicator {
  fill: rgba(60, 60, 60, 0.5);
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.15s cubic-bezier(1, -0.115, 0.975, 0.855);
  transition: -webkit-transform 0.15s cubic-bezier(1, -0.115, 0.975, 0.855);
  transition: transform 0.15s cubic-bezier(1, -0.115, 0.975, 0.855);
  transition: transform 0.15s cubic-bezier(1, -0.115, 0.975, 0.855), -webkit-transform 0.15s cubic-bezier(1, -0.115, 0.975, 0.855);
  -webkit-transition-timing-function: cubic-bezier(1, -0.115, 0.975, 0.855);
          transition-timing-function: cubic-bezier(1, -0.115, 0.975, 0.855);
}

.vs--open .vs__open-indicator {
  -webkit-transform: rotate(180deg) scale(1);
          transform: rotate(180deg) scale(1);
}

.vs--loading .vs__open-indicator {
  opacity: 0;
}

.vs__clear {
  fill: rgba(60, 60, 60, 0.5);
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  margin-right: 8px;
}

.vs__dropdown-menu {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: calc(100% - 1px);
  left: 0;
  z-index: 1000;
  padding: 5px 0;
  margin: 0;
  width: 100%;
  max-height: 350px;
  min-width: 160px;
  overflow-y: auto;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(60, 60, 60, 0.26);
  border-top-style: none;
  border-radius: 0 0 4px 4px;
  text-align: left;
  list-style: none;
  background: #fff;
}

.vs__no-options {
  text-align: center;
}

.vs__dropdown-option {
  line-height: 1.42857143;
  display: block;
  padding: 3px 20px;
  clear: both;
  color: #333;
  white-space: nowrap;
}

.vs__dropdown-option:hover {
  cursor: pointer;
}

.vs__dropdown-option--highlight {
  background: #5897fb;
  color: #fff;
}

.vs__dropdown-option--disabled {
  background: inherit;
  color: rgba(60, 60, 60, 0.5);
}

.vs__dropdown-option--disabled:hover {
  cursor: inherit;
}

.vs__selected {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f0f0f0;
  border: 1px solid rgba(60, 60, 60, 0.26);
  border-radius: 4px;
  color: #333;
  line-height: 1.4;
  margin: 4px 2px 0;
  padding: 0 .25em;
}

.vs__deselect {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-left: 4px;
  padding: 0;
  border: 0;
  cursor: pointer;
  background: none;
  fill: rgba(60, 60, 60, 0.5);
  text-shadow: 0 1px 0 #fff;
}

.vs--single .vs__selected {
  background-color: transparent;
  border-color: transparent;
}

.vs--single.vs--open .vs__selected {
  position: absolute;
  opacity: .4;
}

.vs--single.vs--searching .vs__selected {
  display: none;
}

.vs__search::-webkit-search-cancel-button {
  display: none;
}

.vs__search::-ms-clear, .vs__search::-webkit-search-decoration, .vs__search::-webkit-search-results-button, .vs__search::-webkit-search-results-decoration {
  display: none;
}

.vs__search, .vs__search:focus {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  line-height: 1.4;
  font-size: 1em;
  border: 1px solid transparent;
  border-left: none;
  outline: none;
  margin: 4px 0 0;
  padding: 0 7px;
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  width: 0;
  max-width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.vs__search::-webkit-input-placeholder {
  color: inherit;
}

.vs__search:-ms-input-placeholder {
  color: inherit;
}

.vs__search::-ms-input-placeholder {
  color: inherit;
}

.vs__search::placeholder {
  color: inherit;
}

.vs--unsearchable .vs__search {
  opacity: 1;
}

.vs--unsearchable .vs__search:hover {
  cursor: pointer;
}

.vs--single.vs--searching:not(.vs--open):not(.vs--loading) .vs__search {
  opacity: .2;
}

.vs__spinner {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  opacity: 0;
  font-size: 5px;
  text-indent: -9999em;
  overflow: hidden;
  border: 0.9em solid rgba(100, 100, 100, 0.1);
  border-left-color: rgba(60, 60, 60, 0.45);
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-animation: vSelectSpinner 1.1s linear infinite;
  animation: vSelectSpinner 1.1s linear infinite;
  -webkit-transition: opacity .1s;
  transition: opacity .1s;
}

.vs__spinner, .vs__spinner:after {
  border-radius: 50%;
  width: 5em;
  height: 5em;
}

.vs--loading .vs__spinner {
  opacity: 1;
}

.kredieten {
  margin: 50px 0 60px 0;
}

.kredieten__layout {
  margin-top: 20px;
  min-height: 160px;
  border-radius: 7px;
  padding: 0 20px;
}

.kredieten__svg {
  margin-top: 40px;
  margin-bottom: 10px;
}

.woonkredieten .kredieten__layout {
  background-color: #C3D4E7;
}

.woonkredieten .kredieten__layout:hover {
  background-color: #0A51A1;
}

.lening-op-afbetaling .kredieten__layout {
  background-color: #D9E298;
}

.lening-op-afbetaling .kredieten__layout:hover {
  background-color: #8B9C22;
}

.kredieten__layout:hover {
  color: white;
}

.kredieten__layout:hover .kredieten__svg path, .kredieten__layout:hover .kredieten__svg rect {
  stroke: white;
}

.kred .seo {
  background-color: #F3F6F8;
  margin: 0;
  padding: 70px 0;
}

.auto {
  margin-top: 47px;
}

.offices {
  margin: 40px 0;
}

.office {
  position: relative;
  margin-bottom: 30px !important;
  background-color: #D8E1E8;
  border-radius: 7px;
  padding: 15px;
  -webkit-transition: background-color .2s ease-in-out;
  transition: background-color .2s ease-in-out;
}

.office__link {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.office > * {
  margin-bottom: 15px;
}

.office:last-child {
  margin-bottom: 0;
}

.office__name {
  font-size: 18px;
  color: #0A51A1;
  line-height: 24px;
  font-weight: bold;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.office__image {
  margin-right: 10px;
}

.office__phone {
  position: relative;
  z-index: 2;
  -webkit-transition: all .2s;
  transition: all .2s;
  border-bottom: 1px solid transparent;
}

.office__mail {
  position: relative;
  z-index: 2;
  -webkit-transition: all .2s;
  transition: all .2s;
  border-bottom: 1px solid transparent;
  word-break: break-all;
}

.office__address {
  -webkit-transition: all .2s;
  transition: all .2s;
}

.office:hover {
  background-color: #0A51A1;
  color: white;
}

.office:hover .office__image__fill {
  fill: #67C6DD;
}

.office:hover .office__name {
  color: white;
}

.office__phone:hover {
  color: inherit;
  border-bottom: 1px solid white;
}

.office__mail:hover {
  color: inherit;
  border-bottom: 1px solid white;
}

@media (min-width: 576px) {
  .offices {
    margin: 50px 0;
  }
}

@media (min-width: 992px) {
  .offices {
    margin: 70px 0;
  }
}

.contact-form form {
  padding: 75px 0;
}

.contact-form__select__title {
  font-size: 18px;
  letter-spacing: 0;
  line-height: 24px;
  margin-bottom: 30px;
}

.contact-form__radio {
  margin-bottom: 50px;
}

.checkbox__lening-op-afbetaling .contact-form__select__title {
  color: #8B9C22;
}

.checkbox__woonkrediet .contact-form__select__title {
  color: #0A51A1;
}

.checkbox__woonkrediet {
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .checkbox__woonkrediet {
    margin-bottom: 0;
  }
}

.blog .filter__title {
  font-size: 16px;
  line-height: 24px;
}

.blog .woonkrediet-titel {
  color: #0A51A1;
}

.blog .filter {
  font-weight: bold;
}

.blog .filter__title {
  margin-top: 55px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}

.blog .filter__layout {
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blog .filter__layout-lening {
  padding-bottom: 50px;
}

.blog .filter__category {
  font-size: 15px;
  min-width: 200px;
}

.blog .filter__category-woonkrediet {
  color: #0A51A1;
}

.blog .filter__category-lening {
  color: #8B9C22;
}

.blog .tag {
  padding-right: 12px;
  text-decoration: underline;
}

.blog .tag-woonkrediet {
  color: rgba(10, 81, 161, 0.3);
}

.blog .tag-woonkrediet:hover {
  color: #0A51A1;
}

.blog .tag-lening {
  color: rgba(139, 156, 34, 0.55);
}

.blog .tag-lening:hover {
  color: #8B9C22;
}

@media (min-width: 768px) {
  .blog .filter__layout {
    margin: 10px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.hidden-nav {
  height: 60px;
}

.blog-detail__container {
  margin-top: 20px;
  margin-bottom: 100px;
}

.blog-detail__image-container {
  position: relative;
  width: 100%;
  height: 400px;
}

.blog-detail__image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.blog-detail__title {
  color: white;
  text-align: center;
}

.blog-detail__image-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.blog-detail__category {
  font-weight: Bold;
  font-size: 15px;
  color: #0A51A1;
  line-height: 18px;
}

.blog-detail__date {
  font-size: 13px;
  color: rgba(93, 96, 97, 0.5);
  line-height: 18px;
}

.blog-detail__intro {
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 22px;
  color: #000303;
  line-height: 32px;
}

.blog-detail__tags {
  margin-top: 50px;
  font-size: 13px;
  color: rgba(93, 96, 97, 0.5);
  line-height: 18px;
}

.blog-detail__tags ul li {
  margin-right: 15px;
}

.blog-detail__related {
  margin-top: 40px;
  background-color: #EBF0F3;
}

.blog-detail__related__article {
  margin-bottom: 25px;
}

.blog-detail__related__uppertitle {
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
  padding: 30px 0;
}

.blog-detail__related__title {
  padding-left: 15px;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
}

.blog-detail__related__image {
  -o-object-fit: cover;
     object-fit: cover;
  font-family: 'object-fit: cover;';
  width: 80px;
  height: 80px;
}

@media (min-width: 576px) {
  .blog-detail__image-container {
    position: relative;
    width: 100%;
    height: 500px;
  }
  .blog-detail__container {
    margin-top: 50px;
    margin-bottom: 100px;
  }
}

@media (min-width: 992px) {
  .hidden-nav {
    height: 80px;
  }
}

.kantoren-detail {
  min-height: 300px;
  background-color: #EBF0F3;
}

.kantoren-detail__container {
  padding: 0;
}

.kantoren-detail__layout {
  padding-top: 40px;
  padding-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.kantoren-detail__adress {
  background-color: #EBF0F3;
}

.kantoren-detail__map {
  min-height: 300px;
  padding: 0;
}

.kantoren-detail__content {
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 50px;
  padding-right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.kantoren-detail__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.kantoren-detail__info {
  padding-left: 0;
}

.kantoren-detail__uren {
  padding-top: 80px;
  padding-bottom: 80px;
  color: white;
  background-color: #0A51A1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.kantoren-detail h1 {
  font-size: 36px;
  line-height: 40px;
  letter-spacing: -0.514286px;
}

.kantoren-detail .adress-data {
  margin: 30px 0 30px 10px;
}

.kantoren-detail .adress-data-per {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 0;
}

.kantoren-detail .span_layout {
  padding-left: 20px;
  font-size: 20px;
  line-height: 28px;
}

.kantoren-detail .span_layout_mail {
  padding-left: 20px;
  font-size: 20px;
  line-height: 17px;
}

.kantoren-detail .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0px;
}

.kantoren-detail p {
  padding-top: 10px;
}

.kantoren-detail .afspraak {
  font-size: 22px;
  line-height: 32px;
  margin-bottom: 20px;
}

.kantoren-detail .tekst {
  font-size: 16px;
  line-height: 24px;
}

.kantoren-detail .underline {
  text-decoration: underline;
}

.lenen-in-antwerpen {
  padding: 80px 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.lenen-in-antwerpen__content {
  max-width: 700px;
}

.lenen-in-antwerpen h3 {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #0A51A1;
}

@media (min-width: 576px) {
  .kantoren-detail h1 {
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.8px;
  }
  .kantoren-detail .adress-data {
    margin: 60px 0 60px 10px;
  }
  .kantoren-detail__layout {
    padding-top: 70px;
    padding-bottom: 60px;
  }
  .kantoren-detail__map {
    min-height: 450px;
    padding: 0;
  }
}

@media (min-width: 992px) {
  .kantoren-detail h1 {
    font-size: 47px;
    letter-spacing: -0.8px;
  }
  .kantoren-detail span {
    font-size: 22px;
  }
  .kantoren-detail .adress-data {
    margin: 80px 0 80px 10px;
  }
  .kantoren-detail__container {
    max-width: 570px;
    width: 100%;
  }
  .kantoren-detail__info {
    padding-left: 30px;
  }
  .kantoren-detail__layout {
    padding-top: 80px;
    padding-bottom: 100px;
  }
  .kantoren-detail .button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 20px;
  }
}

.no-gutter {
  padding: 0 !important;
}

.loan-detail {
  margin: 100px 0;
}

.drupal-content p {
  font-size: 16px;
  color: #000303;
  line-height: 24px;
  margin-bottom: 20px;
}

.drupal-content h2, .drupal-content h3, .drupal-content h4, .drupal-content h5, .drupal-content h6 {
  font-size: 16px;
  color: #0A51A1;
  line-height: 18px;
  margin-bottom: 25px;
  font-weight: bold;
  font-family: 'roboto';
  text-transform: uppercase;
}

.drupal-content ul {
  list-style: inherit;
  margin-left: 17px;
}

.drupal-content a {
  color: #0A51A1;
  text-decoration: underline;
}

.drupal-content .quote {
  padding-left: 50px;
  font-size: 20px;
  color: #0A51A1;
  line-height: 26px;
}

.drupal-content .quote:before {
  content: '';
  position: absolute;
  top: 8px;
  left: 10px;
  width: 37px;
  height: 28px;
  background-image: url(/../../assets/images/quote.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

@media (min-width: 576px) {
  .drupal-content .quote {
    font-size: 24px;
    line-height: 32px;
  }
}

@media (min-width: 992px) {
  .hidden-nav {
    height: 80px;
  }
}
/*# sourceMappingURL=krediet.style.css.map */