/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

@font-face {
  font-family: 'mmc';
  src: url("../../assets/fonts/MMC/MMC-Regular.woff") format("woff"), url("../../assets/fonts/MMC/MMC-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'mmc-bold';
  src: url("../../assets/fonts/MMC/MMC-Bold.woff") format("woff"), url("../../assets/fonts/MMC/MMC-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'mmc-medium';
  src: url("../../assets/fonts/MMC/MMC-Medium.woff") format("woff"), url("../../assets/fonts/MMC/MMC-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: mmc-bold;
}

h1 {
  font-size: 63px;
  line-height: 70px;
}

h2 {
  font-size: 42px;
  line-height: 45px;
}

h3 {
  font-size: 36px;
  line-height: 40px;
}

h4 {
  font-size: 24px;
  line-height: 30px;
}

h5 {
  font-size: 21px;
  line-height: 25px;
}

h6 {
  font-size: 20px;
  line-height: 25px;
  font-family: mmc-medium;
}

body {
  font-family: mmc;
  font-size: 16px;
  line-height: 28px;
}

p {
  font-size: 16px;
  line-height: 28px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

@media (max-width: 768px) {
  h1 {
    font-size: 32px;
    line-height: 35px;
  }
  h2 {
    font-size: 28px;
    line-height: 33px;
  }
  h3 {
    font-size: 24px;
    line-height: 29px;
  }
  h4 {
    font-size: 21px;
    line-height: 26px;
  }
  h5 {
    font-size: 20px;
    line-height: 25px;
  }
  h6 {
    font-size: 20px;
    line-height: 25px;
    font-family: mmc-medium;
  }
}

.label-small {
  font-size: 12px;
  line-height: 16px;
  font-family: mmc;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #5a646f;
}

.label-medium {
  font-size: 12px;
  line-height: 16px;
  font-family: mmc-medium;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #5a646f;
}

.label-big {
  font-size: 14px;
  line-height: 18px;
  font-family: mmc;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #5a646f;
}

.white-label {
  color: white;
}

.opening p {
  line-height: 36px;
}

.main-header {
  background: url(../../assets/img/mountains2.png) no-repeat center center;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
}

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100px;
  position: fixed;
  z-index: 10;
}

.navbar-logo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-logo_image {
  background: url(../../assets/img/nav-logo-black.svg);
  width: 75px;
  height: 75px;
}

.main-nav {
  background-color: rgba(0, 0, 0, 0.9);
  opacity: .9;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 24px;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
}

.main-nav ul {
  text-align: right;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: none;
}

.main-nav ul li {
  padding: 0 0 0 48px;
}

.main-nav ul li a {
  color: #FFFFFF;
  font-family: mmc-bold;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 3.01px;
  -webkit-transition: 0.2s all ease-in;
  transition: 0.2s all ease-in;
}

.main-nav ul li a:hover {
  color: #ED0000;
  -webkit-transition: 0.2s all ease-in;
  transition: 0.2s all ease-in;
}

.ie-flex {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.nav-mobile {
  padding: 130px 30px 30px 30px;
  position: fixed;
  width: 100%;
  overflow: hidden;
  z-index: 10;
  top: 0;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform .3s ease-out;
  transition: -webkit-transform .3s ease-out;
  transition: transform .3s ease-out;
  transition: transform .3s ease-out, -webkit-transform .3s ease-out;
  min-height: 100vh;
  background-color: #FFFFFF;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.nav-mobile__list {
  position: relative;
  z-index: 1;
}

.nav-mobile__list__item-primary {
  margin-bottom: 30px;
  font-size: 28px;
  text-transform: capitalize;
}

.nav-mobile__list__item-primary a {
  color: #000000;
}

.nav-mobile__list__item-border {
  margin: 20px 0;
  width: 40px;
  height: 1px;
  background-color: #000000;
}

.nav-mobile__list__item-secundairy {
  font-size: 1rem;
  text-transform: none;
  letter-spacing: 0;
  color: #5a646e;
  margin-bottom: 10px;
}

.nav-mobile__list__item-secundairy a {
  color: #5a646e;
}

.nav-mobile__list .language-btn {
  margin: 30px 0 0 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.nav-mobile:after {
  content: "";
  background-image: radial-gradient(farthest-corner at -231px 176px, #f5f5f5 0, transparent 100%);
  -webkit-transform: translateX(300px) skew(-30deg);
          transform: translateX(300px) skew(-30deg);
  -webkit-transition: -webkit-transform 0ms ease-out;
  transition: -webkit-transform 0ms ease-out;
  transition: transform 0ms ease-out;
  transition: transform 0ms ease-out, -webkit-transform 0ms ease-out;
  position: absolute;
  opacity: 1;
  display: block;
  height: 100%;
  width: 4000px;
  top: 0;
  left: 100%;
}

.nav-mobile__active .nav-mobile {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform .3s ease-out;
  transition: -webkit-transform .3s ease-out;
  transition: transform .3s ease-out;
  transition: transform .3s ease-out, -webkit-transform .3s ease-out;
}

.nav-mobile__active .nav-mobile:after {
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
  -webkit-transform: translateX(-285px) skew(-30deg);
          transform: translateX(-285px) skew(-30deg);
}

.overlay {
  position: fixed;
  overflow-y: scroll;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.main-nav__toggle-container {
  display: block;
}

.trigger-main-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
  z-index: 10;
}

.noscroll .navbar-logo_image {
  background: url(../../assets/img/nav-logo-black-letters.svg);
}

.noscroll .main-nav {
  background-color: unset;
}

.trigger-main-nav {
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

.scroll-down .trigger-main-nav {
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
}

.scroll-up .trigger-main-nav {
  -webkit-transform: none;
          transform: none;
}

.noscroll {
  overflow: hidden;
}

.main-nav__toggle {
  outline: none !important;
  position: absolute;
  right: 20px;
  top: calc(50% - 18px);
  display: block;
  height: 36px;
  width: 36px;
  padding: 0;
  z-index: 3;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 100px;
  background-color: unset;
}

.main-nav__toggle:hover {
  border-color: #fefefe;
}

.main-nav__toggle:after,
.main-nav__toggle:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 17px;
  border: 2px solid #fefefe;
  border-left-width: 0;
  border-right-width: 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.main-nav__toggle:after,
.main-nav__toggle:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 17px;
  border: 2px solid #fefefe;
  border-left-width: 0;
  border-right-width: 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.main-nav__isactive .main-nav__toggle {
  border-color: #ED0000;
}

.main-nav__isactive .main-nav__toggle:before {
  border-color: #ED0000;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.main-nav__isactive .main-nav__toggle:after {
  border-color: #ED0000;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.main-nav__toggle:before {
  -webkit-transform: translate(-50%, 150%);
          transform: translate(-50%, 150%);
  border-bottom-width: 0;
}

.main-nav__toggle:after {
  -webkit-transform: translate(-50%, -250%);
          transform: translate(-50%, -250%);
  border-top-width: 0;
}

@media (min-width: 768px) {
  .main-navigation .main-nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main-navigation .main-nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main-nav__toggle-container {
    display: none;
  }
}

.language-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #FFFFFF;
  border: #A7A7A7 1px solid;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 14px;
  font-family: mmc-medium;
  margin-left: 67px;
  height: 23px;
}

.language-btn .btn-active {
  color: #000000;
  background-color: #c8c8c8;
  display: inline-block;
  padding: 3px 9px 4px;
  -webkit-transition: 0.2s all ease-in;
  transition: 0.2s all ease-in;
}

.language-btn .btn-inactive {
  color: #FFFFFF;
  background-color: #020203;
  display: inline-block;
  padding: 4px 9px 4px;
  -webkit-transition: 0.2s all ease-in;
  transition: 0.2s all ease-in;
}

.language-btn .btn-active:hover {
  background-color: #FFFFFF;
  -webkit-transition: 0.2s all ease-in;
  transition: 0.2s all ease-in;
}

.language-btn .btn-inactive:hover {
  background-color: #6b6d71;
  -webkit-transition: 0.2s all ease-in;
  transition: 0.2s all ease-in;
}

.hero-wrapper {
  color: #FFFFFF;
  height: 100%;
  width: 100%;
  background-size: cover;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-wrapper .hero-pre-text {
  margin-top: 120px;
  padding-bottom: 20px;
}

.hero-wrapper .hero-intro {
  font-size: 32px;
  line-height: 36px;
  padding-bottom: 30px;
  color: #FFFFFF;
}

.hero-wrapper .hero-text {
  padding-bottom: 30px;
  font-size: 18px;
  line-height: 28px;
}

.hero-wrapper .hero-btns {
  padding-bottom: 36px;
}

.hero-wrapper .hero-btns div {
  margin: 5px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 576px) {
  .main-header {
    min-height: 860px;
    height: 100vh;
  }
  .main-header .hero-intro {
    font-size: 63px;
    line-height: 70px;
    padding-bottom: 30px;
  }
  .main-header .hero-text {
    padding-bottom: 40px;
    font-size: 21px;
    line-height: 36px;
  }
}

@media (min-width: 776px) {
  .main-header {
    min-height: 660px;
  }
}

@media (min-width: 1200px) {
  .hero-wrapper .hero-btns {
    padding-bottom: 36px;
  }
  .hero-wrapper .hero-btns div {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.row {
  margin: 0;
}

.opening {
  background-color: black;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.opening .opening-wrapper {
  padding: 60px 0;
}

.opening .opening-wrapper .h2-opening {
  padding-bottom: 15px;
}

.opening .opening-wrapper .opening-content {
  font-size: 18px;
  line-height: 30px;
}

.opening .opening-wrapper .opening-contact-email {
  color: white;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  word-break: break-all;
  font-size: 16px;
}

.opening .opening-wrapper .opening-contact-email {
  color: whitesmoke;
}

.opening .opening-wrapper .opening-btn {
  margin-top: 30px;
}

.opening .opening-wrapper .phone-link {
  color: white;
  cursor: pointer;
}

.opening .opening-wrapper .phone-link:hover {
  color: whitesmoke;
}

@media (min-width: 576px) {
  .opening .opening-contact-email {
    font-size: 16px;
  }
  .opening .opening-content {
    font-size: 21px;
    line-height: 36px;
  }
  .opening .opening-contact-email {
    font-size: 18px;
  }
}

@media (min-width: 768px) {
  .opening {
    text-align: left;
  }
}

.dealer-message {
  background-color: #FFFFFF;
}

.dealer-message .message-wrapper {
  padding: 50px 0;
}

.dealer-message .p-dealer-message {
  padding: 30px 0;
}

.dealer-message .readmore-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 768px) {
  .dealer-message .readmore-btn {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

@media (min-width: 992px) {
  .dealer-message .readmore-btn {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.dealer-detail {
  background-color: #000000;
  color: #FFFFFF;
}

.dealer-detail__image {
  background-image: url("../../assets/img/dealer_detail.png");
  background-size: cover;
  background-position: center;
  height: 250px;
  width: 100%;
}

.dealer-detail__info {
  padding-top: 50px;
  padding-bottom: 50px;
}

.dealer-detail__info__dealer {
  font-size: 36px;
  line-height: 45px;
}

.dealer-detail__info__title {
  padding-bottom: 30px;
}

.dealer-detail__info__text {
  padding: 30px 0;
}

@media (min-width: 576px) {
  .dealer-detail {
    background-color: #000000;
    color: #FFFFFF;
  }
  .dealer-detail__image {
    height: 540px;
  }
  .dealer-detail__info {
    padding: 8%;
  }
  .dealer-detail__info__dealer {
    font-size: 42px;
    line-height: 45px;
  }
}

.latest-news {
  background-color: #FFFFFF;
}

.latest-news__uppertitle {
  text-align: center;
  padding-top: 70px;
  padding-bottom: 70px;
}

.latest-news__link {
  color: #000000;
  text-decoration: none;
}

.latest-news__link:hover {
  color: #000000;
}

.latest-news__image {
  width: 100%;
}

.latest-news__title {
  padding-top: 30px;
  font-size: 24px;
  line-height: 30px;
}

.latest-news__text {
  padding: 30px 0 40px;
}

.latest-news__button {
  margin-bottom: 40px;
}

.latest-news__button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 0 40px;
}

@media (min-width: 576px) {
  .latest-news__button-container {
    padding: 40px 0 80px;
  }
}

@media (min-width: 992px) {
  .latest-news__uppertitle {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.dealer-contact {
  background-color: #FFFFFF;
}

.dealer-contact .contact-title {
  padding: 60px 0 50px;
}

.dealer-contact .adress {
  font-size: 18px;
  line-height: 30px;
}

.dealer-contact .contact-info-wrapper {
  padding-top: 30px;
}

.dealer-contact .contact-info {
  padding: 0 12px;
  font-size: 12px;
  line-height: 18px;
  font-family: mmc-medium;
  text-transform: uppercase;
  letter-spacing: 1.7px;
}

.dealer-contact .contact-btns {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 35px 0 50px;
}

.dealer-contact .h2-contact {
  padding: 0 0 20px;
}

.dealer-contact .contact-route-link {
  color: #6b6d71;
  text-decoration: underline;
  -webkit-transition: 2s linear;
  transition: 2s linear;
}

.dealer-contact .contact-route-link:hover {
  color: black;
  text-decoration: none;
  -webkit-transition: 1s linear;
  transition: 1s linear;
}

.dealer-contact .contact-opening-hours {
  padding-bottom: 15px;
}

.dealer-contact .h3-contact-hours {
  padding: 5px 0;
  font-size: 21px;
  line-height: 26px;
}

.dealer-contact .contact-days {
  text-transform: capitalize;
}

.dealer-contact .p-day {
  padding: 0 20px 0 0;
}

.dealer-contact .contact-blocks {
  border-top: 1px solid #c8c8c8;
  padding: 15px;
  font-size: 13px;
}

.dealer-contact .contact-details a {
  color: #000000;
  cursor: pointer;
}

.dealer-contact .contact-details a:hover {
  color: #6b6d71;
}

.dealer-contact .media-btns {
  text-align: center;
  padding: 30px 0;
}

.dealer-contact .media-btns:hover {
  color: #6b6d71;
}

@media (min-width: 576px) {
  .contact-opening-hours {
    padding: 15px;
  }
  .dealer-contact .contact-blocks {
    border-top: 1px solid #c8c8c8;
    padding: 15px;
    font-size: 16px;
  }
  .dealer-contact .h3-contact-hours {
    padding: 5px 0;
    font-size: 24px;
    line-height: 26px;
  }
  .dealer-contact .adress {
    font-size: 21px;
    line-height: 36px;
  }
  .dealer-contact .contact-info {
    padding: 0 12px;
    font-size: 12px;
    line-height: 18px;
    font-family: mmc-medium;
    text-transform: uppercase;
    letter-spacing: 1.7px;
  }
}

@media (min-width: 768px) {
  .dealer-contact .contact-opening-hours {
    padding: 40px 20px 60px 20px;
  }
  .dealer-contact .contact-btns {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 35px 0 50px;
  }
  .dealer-contact .h3-contact-hours {
    padding: 20px 0;
  }
  .dealer-contact .contact-blocks:first-child {
    border-right: 1px solid #c8c8c8;
  }
  .dealer-contact .media-btns {
    text-align: left;
  }
}

@media (min-width: 992px) {
  .dealer-contact .contact-btns {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 1200px) {
  .dealer-contact .contact-blocks:nth-child(2) {
    border-right: 1px solid #c8c8c8;
  }
  .dealer-contact .contact-opening-hours {
    padding: 30px 50px 80px;
  }
}

#map {
  height: 400px;
}

#google-marker {
  width: 60px;
}

/* 
// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
    body{

    }
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {  
    body{
     
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    body{
 
    }
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  
    body{
 
    }
} */
.footer {
  background-color: #000000;
  padding: 30px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #FFFFFF;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__list__item a {
  margin-right: 10px;
  color: #FFFFFF;
  font-size: 12px;
}

.footer__copyright {
  font-size: 12px;
}

@media (min-width: 576px) {
  .footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 45px 15px;
  }
}

@media (min-width: 992px) {
  .footer {
    padding: 45px;
  }
}

form {
  margin: 100px 0;
}

.h2-contact-form {
  padding: 100px 0 40px;
}

.contact-form-question {
  margin: 60px 0 0;
}

*:focus {
  outline: none;
}

textarea {
  padding: 13px;
}

input[type=submit] {
  border: none;
  border-width: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.custom-select {
  width: 100%;
  overflow: hidden;
  border: none;
  border-radius: 0;
  border-bottom: 1px #c8c8c8 solid;
  font-family: mmc-medium;
  line-height: 24px;
  letter-spacing: 1px;
  padding: .375rem 0 .375rem .75rem;
}

.custom-select select {
  border: none;
  width: 100%;
  background: none;
  background-image: none;
  -webkit-appearance: none;
}

select:focus {
  outline: none;
}

select::-ms-expand {
  display: none;
}

.contact-form__client-fill {
  padding: 0;
}

.column-left {
  padding: 0;
}

.column-right {
  padding: 0 0 30px 0;
}

.client-data {
  position: relative;
  margin-bottom: 1.5rem;
  margin-top: 60px;
}

.client-data-small {
  margin-top: 27px;
}

.client-data-mobile {
  margin-top: 37px;
}

@media (min-width: 768px) {
  .client-data-mobile {
    margin-top: 60px;
  }
  .column-left {
    padding: 0 20px 0 0;
  }
  .column-right {
    padding: 0 0 60px 20px;
  }
}

.custom-input {
  border: none;
  border-radius: 0;
  border-bottom: 1px #c8c8c8 solid;
  width: 100%;
  height: 33px;
}

.no-outline:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-bottom: 1px black solid;
}

.no-outline:valid {
  border-bottom: 1px red solid;
}

.custom-input-placeholder {
  position: absolute;
  top: 0;
  left: 0;
  padding: 7px 0 0 13px;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  opacity: 0.5;
  outline: transparent;
  pointer-events: none;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

.custom-input:focus + .custom-input-placeholder,
.custom-input:valid + .custom-input-placeholder {
  font-size: 75%;
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
  opacity: 1;
}

.contact-form__address .contact-form__h2 {
  margin: 60px 0;
  text-align: center;
}

.h2__form {
  font-size: 24px;
  text-align: center;
}

@media (min-width: 576px) {
  .h2__form {
    font-size: 36px;
  }
}

#form-textarea {
  resize: none;
  width: 100%;
  font-family: MMC-Medium, Arial, Helvetica, Verdana, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0;
  color: #000;
  border: 1px solid black;
}

.contact-form__newsletter {
  margin-top: 60px;
}

.label-p {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.5rem;
  letter-spacing: 0;
  color: #5a646e;
  word-break: break-all;
}

.label-p .link-privacy {
  display: inline-block;
}

.label-p .link-privacy:hover {
  color: #6b6d71;
}

.contact-form__privacy {
  margin-top: 60px;
}

.newsletter-check {
  margin-top: 20px;
}

.link-privacy {
  color: black;
  text-decoration: underline;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.submit-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 60px 0;
  text-align: center;
}

@media (min-width: 768px) {
  .btn-send {
    margin: 60px auto;
    width: 260px;
  }
}

.newsletter-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkbox-label {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  line-height: 24px;
  height: 20px;
  width: 20px;
  clear: both;
}

.checkbox-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkbox-label .checkbox-custom {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: 1px #c8c8c8 solid;
}

.checkbox-label .checkbox-custom:after {
  position: absolute;
  content: "";
  left: 14px;
  top: 14px;
  height: 0px;
  width: 0px;
  border: 2px solid red;
  opacity: 0;
}

.checkbox-label input:checked ~ .checkbox-custom {
  background-color: #FFFFFF;
  -webkit-transform: rotate(0deg) scale(1);
          transform: rotate(0deg) scale(1);
  opacity: 1;
  border: 1px black solid;
}

.checkbox-label input:focus ~ .checkbox-custom {
  background-color: #FFFFFF;
  -webkit-transform: rotate(0deg) scale(1);
          transform: rotate(0deg) scale(1);
  opacity: 1;
  border: 1px solid red;
}

.checkbox-label input:hover ~ .checkbox-custom {
  background-color: #FFFFFF;
  -webkit-transform: rotate(0deg) scale(1);
          transform: rotate(0deg) scale(1);
  opacity: 1;
  border: 1px solid red;
}

.checkbox-label input:checked ~ .checkbox-custom::after {
  -webkit-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1);
  opacity: 1;
  left: 6px;
  top: 0px;
  width: 7px;
  height: 16px;
  border: solid red;
  border-width: 0 3px 3px 0;
  background-color: transparent;
  border-radius: 0;
}

.checkbox-p {
  margin-left: 10px;
  font-family: mmc-medium;
}

.radio {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  line-height: 20px;
  font-size: 16px;
  padding: 25px 0 0;
  font-family: mmc-medium;
}

.radio .label {
  position: relative;
  display: block;
  margin-right: 10px;
  width: 22px;
  height: 22px;
  border: 1px solid #c8ccd4;
  border-radius: 100%;
  -webkit-tap-highlight-color: transparent;
}

.radio .label:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 14px;
  height: 14px;
  border-radius: 100%;
  background: red;
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0.08;
  pointer-events: none;
}

input[type="radio"]:hover + .label {
  border-color: red;
}

input[type="radio"]:checked + .label {
  border-color: red;
}

input[type="radio"]:checked + .label:after {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.2s cubic-bezier(0.35, 0.9, 0.4, 0.9);
  transition: all 0.2s cubic-bezier(0.35, 0.9, 0.4, 0.9);
  opacity: 1;
}

.hidden {
  display: none;
}

.testrit-hero-heading {
  margin: 30% 0;
}

.h1-text {
  padding: 0 10%;
}

.testrit-hero {
  text-align: center;
}

.h2-testrit {
  text-align: center;
  padding: 40px 0 0 0;
}

.h-text {
  text-align: center;
  margin: 20px 0;
}

.h-text__2 {
  text-align: center;
  padding: 0 0 60px 0;
}

.client-data-mobile__testrit {
  margin-top: 37px;
}

@media (min-width: 576px) {
  .testrit-hero-heading {
    margin: 20% 0;
  }
}

.h2-testrit {
  text-align: center;
  padding: 100px 0 0 0;
}

@media (min-width: 768px) {
  .testrit-hero-heading {
    margin: 15% 0;
  }
  .testrit-column {
    padding: 0;
  }
  .client-data-mobile__testrit {
    margin-top: 35px;
  }
}

.testrit-left, .testrit-right {
  padding: 0;
}

@media (min-width: 768px) {
  .testrit-right {
    padding: 0 0 20px 20px;
  }
  .testrit-left {
    padding-right: 20px;
  }
}

.bootstrap-datetimepicker-widget table td span.active, .bootstrap-datetimepicker-widget table td span.active:hover {
  background-color: red !important;
}

.bootstrap-datetimepicker-widget table td.active, .bootstrap-datetimepicker-widget table td.active {
  background-color: red !important;
}

.bootstrap-datetimepicker-widget table td.active, .bootstrap-datetimepicker-widget table td.active:hover {
  background-color: #ED0000 !important;
}

.bootstrap-datetimepicker-widget table td.active, .bootstrap-datetimepicker-widget table td.active {
  background-color: #ED0000 !important;
}

th.prev {
  background-image: url(../../assets/img/back.svg) !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 15px !important;
}

th.next {
  background-image: url(../../assets/img/next.svg) !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 15px !important;
}

.appointment-calendar {
  position: relative;
  padding-left: 0;
}

.appointment-calendar .appointment-calendar__icon {
  background-image: url(../../assets/img/calendar.svg);
  position: absolute;
  right: 25px;
  top: 35px;
  width: 24px;
  height: 24px;
  pointer-events: none;
  background-color: white;
}

.appointment-calendar .calendar-outline {
  background: none;
}

.appointment-calendar .calendar-outline:focus {
  background-image: none;
}

.appointment-calendar .calendar-outline:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-bottom: 1px black solid;
}

.appointment-hours {
  font-family: mmc;
  padding-bottom: 0;
  margin-top: 40px;
  padding-left: 0;
}

.input-group-text {
  background-color: white;
  border: none;
  border-bottom: 1px solid #ced4da;
  border-radius: 0;
}

.input-group-text:focus {
  background-color: red;
}

@media (min-width: 576px) {
  .appointment-hours {
    margin-top: 0;
    padding: 0 0 0 20px;
  }
}

.appointment-calendar {
  padding: 0 20px 0 0;
}

.contact-form__contact-me {
  margin-top: 30px;
}

.btn-medium {
  min-width: 260px;
  min-height: 50px;
  padding: 18px 0;
  text-align: center;
  font-family: mmc-bold;
  font-size: 14px;
  letter-spacing: 3.01px;
  text-transform: uppercase;
  line-height: 14px;
  text-decoration: none;
  display: inline-block;
}

.btn-small {
  margin-right: 5px;
  padding: 18px 18px;
  text-align: center;
  font-family: mmc-bold;
  font-size: 14px;
  letter-spacing: 3.01px;
  text-transform: uppercase;
  line-height: 14px;
  text-decoration: none;
  display: inline-block;
}

@media (min-width: 576px) {
  .btn-medium {
    min-width: 305px;
    min-height: 50px;
    padding: 18px 0;
    text-align: center;
    font-family: mmc-bold;
    font-size: 14px;
    letter-spacing: 3.01px;
    text-transform: uppercase;
    line-height: 14px;
    text-decoration: none;
    display: inline-block;
  }
}

.btn-lightbg-red {
  background-color: #ED0000;
  color: #FFFFFF;
  -webkit-transition: color .3s ease-in-out, background-position .3s ease-in-out;
  transition: color .3s ease-in-out, background-position .3s ease-in-out;
  background-image: linear-gradient(-60deg, #000000 50%, #ed0000 0);
  background-size: 400% 400%;
  background-position: 0 50%;
}

.btn-lightbg-red:hover {
  text-decoration: none;
  color: #FFFFFF;
  background-color: #000000;
  background-position: 100% 50%;
}

.btn-lightbg-black {
  background-color: #000000;
  color: #FFFFFF;
  -webkit-transition: color .3s ease-in-out, background-position .3s ease-in-out;
  transition: color .3s ease-in-out, background-position .3s ease-in-out;
  background-image: linear-gradient(-60deg, #ED0000 50%, #000000 0);
  background-size: 400% 400%;
  background-position: 0 50%;
}

.btn-lightbg-black:hover {
  text-decoration: none;
  color: #FFFFFF;
  background-color: #ED0000;
  background-position: 100% 50%;
}

.btn-darkbg-red {
  background-color: #ED0000;
  color: #FFFFFF;
  -webkit-transition: color .3s ease-in-out, background-position .3s ease-in-out;
  transition: color .3s ease-in-out, background-position .3s ease-in-out;
  background-image: linear-gradient(-60deg, #FFFFFF 50%, #ed0000 0);
  background-size: 400% 400%;
  background-position: 0 50%;
}

.btn-darkbg-red:hover {
  text-decoration: none;
  color: #000000;
  background-color: #FFFFFF;
  background-position: 100% 50%;
}

.btn-darkbg-white {
  background-color: #FFFFFF;
  color: #000000;
}

.btn-darkbg-white:hover {
  background-color: #ED0000;
  color: #FFFFFF;
  text-decoration: none;
}

.btn-lightbg-blackoutline {
  background-color: transparent;
  color: #000000;
  border: #000000 2px solid;
  padding: 16px 16px;
  -webkit-transition: color .3s ease-in-out, background-position .3s ease-in-out;
  transition: color .3s ease-in-out, background-position .3s ease-in-out;
  background-image: linear-gradient(-60deg, #000 50%, transparent 0);
  background-size: 400% 400%;
  background-position: 0 50%;
}

.btn-lightbg-blackoutline:hover {
  text-decoration: none;
  background-color: transparent;
  color: #fff;
  background-position: 100% 50%;
}

.btn-darkbg-whiteoutline {
  background-color: #000000;
  color: #FFFFFF;
  border: #FFFFFF 2px solid;
  padding: 16px 16px;
  -webkit-transition: color .3s ease-in-out, background-position .3s ease-in-out;
  transition: color .3s ease-in-out, background-position .3s ease-in-out;
  background-image: linear-gradient(-60deg, #fff 50%, transparent 0);
  background-size: 400% 400%;
  background-position: 0 50%;
}

.btn-darkbg-whiteoutline:hover {
  color: #000000;
  background-position: 100% 50%;
}

.btn-hero {
  color: #FFFFFF;
  border: #FFFFFF 2px solid;
  padding: 16px 16px;
  -webkit-transition: color .3s ease-in-out, background-position .3s ease-in-out;
  transition: color .3s ease-in-out, background-position .3s ease-in-out;
  background-image: linear-gradient(-60deg, #fff 50%, transparent 0);
  background-size: 400% 400%;
  background-position: 0 50%;
}

.btn-hero:hover {
  color: #000000;
  background-position: 100% 50%;
}

.btn-margin {
  margin-bottom: 15px;
}

.red-link {
  display: inline-block;
  font-family: 'mmc-bold';
  color: #ED0000;
  text-transform: uppercase;
  padding-bottom: 1px;
  border-bottom: 1px solid #ED0000;
  -webkit-transition: 0.2s all ease-in;
  transition: 0.2s all ease-in;
  letter-spacing: 3px;
}

.red-link:hover {
  color: #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  -webkit-transition: 0.2s all ease-in;
  transition: 0.2s all ease-in;
}

.carousel-models {
  background-color: #F6F6F6;
}

.carousel-models .intro-carousel .title-carousel {
  font-size: 32px;
  line-height: 36px;
  font-family: mmc-bold;
  padding: 50px 0;
  text-align: center;
}

.carousel-models .intro-carousel .p-intro-carousel {
  text-align: center;
}

.carousel-models .intro-carousel .intro-btns {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 35px 0;
}

@media (min-width: 576px) {
  .carousel-models .intro-carousel .title-carousel {
    font-size: 63px;
    line-height: 70px;
    font-family: mmc-bold;
    padding: 50px 0;
    text-align: center;
  }
}

@media (min-width: 768px) {
  .carousel-models .intro-carousel .intro-btns {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .btn-margin {
    margin-bottom: 0;
  }
}

@media (min-width: 992px) {
  .carousel-models .intro-carousel .intro-btns {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.swiper-container {
  width: 100%;
  min-height: 500px;
  padding: 50px 0;
}

.swiper-container a {
  color: #000000;
}

.swiper-slide {
  opacity: .4;
  text-align: left;
  font-size: 18px;
  background: #F6F6F6;
  /* Center slide text vertically */
  -webkit-transition: opacity .8s;
  transition: opacity .8s;
  height: auto;
}

.swiper-slide .h3-carousel {
  text-transform: capitalize;
  padding: 25px 0;
  font-size: 21px;
  line-height: 30px;
  opacity: 0;
}

.swiper-slide p {
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
  opacity: 0;
  font-size: 15px;
  line-height: 27px;
  margin-bottom: 25px;
}

.swiper-slide .btn-small {
  opacity: 0;
}

.swiper-slide .main-carousel__btn {
  position: absolute;
}

.pan-sep {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.carousel-btns {
  position: relative;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
}

.carousel-btns .car-btn {
  line-height: 0;
  outline: none;
  cursor: pointer;
  padding: 20px;
  -webkit-transition: 0.2s all linear;
  transition: 0.2s all linear;
}

.carousel-btns .car-btn:hover {
  -webkit-transition: 0.2s all ease-in;
  transition: 0.2s all ease-in;
}

.carousel-btns .car-btn:hover #svg-btn-right {
  fill: red;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.carousel-btns .car-btn:hover #svg-btn-left {
  fill: red;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.carousel-btns .button-next {
  position: absolute;
  right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.2s all linear;
  transition: 0.2s all linear;
}

.carousel-btns .button-next .meer {
  padding-right: 5px;
  opacity: 0;
  -webkit-transition: opacity 0.2;
  transition: opacity 0.2;
}

.carousel-btns .button-next:hover {
  right: 10px;
  padding-left: 30px;
}

.carousel-btns .button-next:hover .meer {
  opacity: 1;
  color: red;
  -webkit-transition: opacity 0.2 ease-in;
  transition: opacity 0.2 ease-in;
}

.model-slides {
  width: 33.33%;
}

.swiper-slide-prev {
  opacity: 1;
}

.swiper-slide-prev p {
  opacity: 0;
}

.swiper-slide-prev .h3-carousel {
  opacity: 1;
}

.swiper-slide-next {
  opacity: 1;
}

.swiper-slide-next p {
  opacity: 0;
}

.swiper-slide-next .h3-carousel {
  opacity: 1;
}

.swiper-slide-active {
  opacity: 1;
}

.swiper-slide-active p {
  opacity: 1;
}

.swiper-slide-active .btn-small {
  opacity: 1;
}

.swiper-slide-active .h3-carousel {
  opacity: 1;
}

@media (min-width: 576px) {
  .swiper-slide .h3-carousel {
    text-transform: capitalize;
    padding: 25px 0;
    font-size: 24px;
    line-height: 30px;
  }
}

@media (min-width: 768px) {
  .swiper-slide p {
    margin-bottom: 35px;
  }
}

@media (min-width: 992px) {
  .swiper-slide p {
    opacity: 0;
    font-size: 16px;
    line-height: 28px;
  }
  .swiper-slide-prev {
    opacity: 1;
  }
  .swiper-slide-prev p {
    opacity: 1;
  }
  .swiper-slide-prev .btn-small {
    opacity: 1;
  }
  .swiper-slide-next {
    opacity: 1;
  }
  .swiper-slide-next p {
    opacity: 1;
  }
  .swiper-slide-next .btn-small {
    opacity: 1;
  }
  .swiper-slide-active {
    opacity: 1;
  }
  .swiper-slide-active p {
    opacity: 1;
  }
  .swiper-slide-active .btn-small {
    opacity: 1;
  }
}

.testrit-carousel-models {
  background-color: White;
}

.testrit-slider {
  position: relative;
  padding: 0;
  background-color: white;
  min-height: 450px;
}

.testrit-slider .swiper-slide {
  opacity: 1;
  background-color: white;
}

.testrit-slider .h3-carousel {
  opacity: 1;
  text-align: center;
  padding: 5px 0;
}

.testrit-slider__price {
  text-align: center;
  opacity: 1 !important;
}

.testrit-slider label {
  cursor: pointer;
  -webkit-transition: all .5s;
  transition: all .5s;
  border: none;
}

.testrit-slider .carousel-btns {
  position: relative;
  top: 0;
  width: 100%;
  z-index: 10;
}

.invisible-radio {
  /* per https://a11yproject.com/posts/how-to-hide-content/ */
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

.swiper__selected-car {
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  opacity: 0;
  position: absolute;
  top: 20px;
  left: calc(50% - 80px);
  border: 1px solid transparent;
  background-color: #ed0000;
  color: white;
  padding: 1px 20px 3px;
  text-align: center;
  font-size: .75rem;
  line-height: 1.125rem;
  letter-spacing: .125rem;
  text-transform: uppercase;
  font-family: mmc-bold;
  border-radius: 5px;
  width: 120px;
}

.invisible-radio:checked ~ label .swiper__selected-car {
  opacity: 1;
}

.invisible-radio:checked ~ label {
  background-color: #f3f3f3;
}

.invisible-radio:not(:checked) + label {
  cursor: pointer;
}

.invisible-radio:not(:checked) + label:hover {
  background-color: #f3f3f3;
}

@media (min-width: 576px) {
  .testrit-slider {
    padding: 60px 0;
  }
}

.swiper-button-disabled {
  cursor: not-allowed !important;
}
/*# sourceMappingURL=mitsubishi.style.css.map */