

header {
    margin-top: 55px;

}

.header {
    &__intro {

        &__title {
            color: #222222;
        }

        &__text {
            margin: 20px 0;
        }
    }

    &__image {

        margin: 30px 0;

        & img {
            height: 200px;
        }
    }
}

.loan__item {
    height: 320px;
    border-radius: 7px;
}

.loan__woonkrediet {
    background-color: #C3D4E7;
}

.loan__lening {
    background-color: $sec-green;
}

// // Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

    header {
        margin-top: 120px;
    }

    .header {

        &__intro {
    
            &__text {
                margin: 45px 0;
            }
        }
    
        &__image {
    
            & img {
                height: 260px;
            }
        }

        &__text {
            margin: 45px 0;
        }
    }

}


// // Medium devices (tablets, 768px and up)
@media (min-width: 768px) {


}


// // Large devices (desktops, 992px and up)
@media (min-width: 992px) {

    header {
        margin-top: 150px;
    }

    .header {

        &__image {

            margin: 0;

            & img {
                height: auto;
            }
        }
    }
}