.kantoren-detail{
    margin-top: 60px;
    min-height: 300px;
    background-color: #EBF0F3;
    &__container{
        padding:0;
    }
    &__layout{
        padding-top: 80px;
        padding-bottom: 100px;
        display: flex;
        justify-content: flex-end;
    }
    &__adress{
        background-color: #EBF0F3;
    }
    &__map{
        min-height: 300px;
        padding:0;
    }
    &__content{
        padding-top: 80px;
        padding-bottom: 80px;
        padding-left: 50px;
        padding-right: 50px;
        display: flex;
        justify-content: start;
        align-items: center;
    }
    &__container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__info{
        padding-left: 30px;
    }
    &__uren{
        padding-top: 80px;
        padding-bottom: 80px;
        color: white;
        background-color: $primary-darkblue;
        display: flex;
        justify-content: flex-end;
    }
    h1{
        font-size: 47px;
        letter-spacing: -0.8px;
        margin-bottom: 20px
    }
    .adress-data{
        width: 473px;
        margin: 80px 0 80px 10px;
    }
    .adress-data-per{
        margin: 30px 0;
    }
    span{
        font-size: 22px;
    }
    .button{
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    p{
        padding-top: 10px;
    }
    .afspraak{
        font-size: 22px;
        line-height: 32px;
        margin-bottom: 20px;
    }
    .tekst{
        font-size: 16px;
        line-height: 24px;
    }
    .underline{
        text-decoration: underline;
    }
}
.lenen-in-antwerpen{
    padding: 80px 10px;
    &__content{
        max-width: 700px;
    }
    h3{
        margin-bottom: 30px;
        font-weight: 700;
        font-size: 16px;
        line-height: 18px;
        text-transform: uppercase;
        color: #0A51A1;
    }
}

@media (min-width: 576px) {

}

// // Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

}


// // Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .kantoren-detail{
        margin-top: 80px;
        &__container {
            max-width: 570px;
            width: 100%;
        }
    }

}

.no-gutter {
    padding: 0!important;
}