.simulator {
    padding: 40px 0 60px 0;
    background-color:   $primary-grey;

    &__title {
        padding-bottom: 60px;
    }
}

.values {
    padding-top: 50px;
    padding-bottom: 100px;

    &__title {
        margin-bottom: 50px;
    }
}

.value {
    margin-bottom: 30px;

    &__image {
        height: 32px;
    }

    &__title {
        padding-top: 12px;
        padding-bottom: 20px;
        font-family: 'roboto';
        font-weight: 500;
        font-size: 17px;
        color: #000303;
        line-height: 24px;
    }

}

// // Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    

}


// // Medium devices (tablets, 768px and up)
@media (min-width: 768px) {


}


// // Large devices (desktops, 992px and up)
@media (min-width: 992px) {

    .simulator {
        padding: 100px 0 100px 0;
    }
}

// ------------------------ SIMULATOR --------------------------

.simulator {
    font-family: 'roboto';

    & p {
        color: white;
    }

    .simulation-legal {

        h2 {
            font-family: 'roboto';
            font-size: 24px;
            font-weight: bold;
        }

        h3 {
            font-family: 'roboto';
            font-size: 20px;
            font-weight: bold;
        }
    }

}

button {
    cursor: pointer;
}
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
.hidden {
    display: none;
}
.rij {
    display: flex;
    // max-height: 615px;
}

.bs-uitkomst--active {
    max-height: 615px;
}

.berekeningsimulatie {
    display: flex;
    justify-content: center;
    padding: 0 80px;
    width: 100vw;
    background: #1655d9;
}
.form__extra {
    margin-top: 0;
}
.form__extra .bs-uitkomst__aanvragen {
    margin-top: 0;
}
.bs {
    width: 80vw;
    max-width: 1140px;
}
.bs button {
    font-family: 'roboto-medium';
    outline: none;
    height: 40px;
}
.bs button:hover {
    opacity: 0.9;
}
.bs button:active {
    opacity: 0.8;
}
.bs-form {
    background-color: white;
    padding: 40px;
    width: 80%;
    max-width: 400px;
}
.bs-form form {
    flex-direction: column;
    align-items: stretch;
}
.bs-form form > :nth-child(n) {
    margin-top: 40px;
}
.bs-form__question__div h2 {
    font-size: 18px;
    margin-bottom: 5px;
}
.bs-form__slider__div__button {
    width: 100%;
    background-color: white;
    border: solid rgba(53, 53, 53, 0.2) 1px;
    padding: 0 5px;
    font-size: 11px;
}
.bs-form__slider__div__button--active {
    background-color: #1655d9;
    border: none;
    color: white;
}
.bs-form__slider__div__button--active:hover {
    opacity: 1 !important;
    cursor: auto !important;
}
.bs-form__input__div {
    align-items: stretch;
}
.bs-form__input__div > div {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    border: solid rgba(53, 53, 53, 0.2) 1px;
    background: none;
    font-size: 14px;
}
.bs-form__input__div label {
    height: 100%;
    margin-right: 20px;
    text-align: right;
    vertical-align: middle;
    color: rgba(53, 53, 53, 0.7);
    display: flex;
    align-items: center;
}
.bs-form__input__div input {
    height: 100%;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    color: rgba(53, 53, 53, 0.7);
    font-size: 14px;
}
.bs-form__input__div button {
    width: 40px;
    font-size: 18px;
    padding: 0 5px;
    border: none;
    background: #1655d9;
    color: white;
}
.bs-form__bereken {
    border: none;
    background: #1655d9;
    color: white;
    padding: 0 20px;
    font-size: 16px;
}
.bs-uitkomst {
    text-align: center;
    width: 100%;
    padding: 40px;
    margin-left: 20px;
    background-color: #8b9c22;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.bs-uitkomst__aanvragen {
    border: none;
    background: #db7b23;
    color: white;
    padding: 10px 30px;
    font-size: 14px;
}
.bs-uitkomst__resultaat {
    margin-top: 10px;
    font-size: 16px;
}
.bs-uitkomst__resultaat__bedrag {
    font-family: 'crimson';
    font-size: 50px;
    display: inline-block;
    // margin: 10px 5px 40px 0;
}
.bs-uitkomst__resultaat__bedrag__wrap {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 50px;
    margin-right: 5px;
}
.bs-uitkomst__resultaat__eur {
    color: #1655d9;
    margin-top: -7px;
    margin-left: 5px;
}
.bs-uitkomst__uitleg {
    // font-weight: 400;
    // font-size: 14px;
    // margin-top: 40px;
    // margin-bottom: 40px;
    // line-height: 24px;
}

.bs-uitkomst__uitleg p {
    font-size: 14px;
    margin-top: 40px;
    margin-bottom: 40px;
    line-height: 24px;
}
.bs-uitkomst__jkp__info {
    cursor: pointer!important;
    color: $primary-darkblue !important;
    text-decoration: underline!important;
}
.simulation-legal {
    color: white;
    position: relative;
    text-align: left;
    overflow-y: scroll;
    line-height: 1.5;
}
.simulation-legal li {
    color: inherit;
}
.simulation-legal::-webkit-scrollbar {
    background-color: rgba(255, 255, 253, 0.5);
    border-radius: 20px;
}
.simulation-legal::-webkit-scrollbar-thumb {
    background-color: #1655d9;
    border-radius: 20px;
}
.simulation-legal > div > div {
    margin-bottom: 60px;
    padding-right: 40px;
}
.simulation-legal > div > div > h2, .simulation-legal > div > div > p, .simulation-legal > div > div > ul {
    margin-bottom: 20px;
}
.simulation-legal > div > div > ul {
    padding-left: 20px;
}
.simulation-legal__exit {
    position: absolute;
    top: 0;
    right: 20px;
}
.simulation-legal__exit button {
    border-radius: 1px;
    cursor: pointer;
    background: #db7b23;
}
.bs-uitkomst__resultaat-color {
    color: #1655d9;
}
.submit__formulier {
    cursor: pointer;
    text-decoration: underline;
    background: none;
    height: auto !important;
    padding: 0;
}
.maandAflossing {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: #1655d9;
    color: white;
    font-size: 14px;
    font-weight: 400;
}
.selectMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    font-size: 14px;
    font-weight: 400;
}
.selectArea {
    margin-top: 0 !important;
}
@media only screen and (max-width: 1023px) {
//     .berekeningsimulatie {
//         padding: 80px 20px;
//    }
    .bs {
        width: 100%;
   }
}
@media only screen and (max-width: 700px) {
    .berekeningsimulatie {
        padding: 20px;
        max-height: none;
   }
    .bs {
        flex-direction: column;
   }
    .bs-form {
        width: 100%;
        max-width: initial;
   }
    .bs-uitkomst {
        width: 100%;
        margin: 20px 0 0;
        min-height: 320px;
   }
//     .simulation-legal {
//         overflow-y: hidden;
//    }
    .simulation-legal > div > div {
        padding-right: 0;
   }
}
button:disabled {
    cursor: not-allowed;
    opacity: 0.6;
}
.error_msg {
    color: red;
}
.buttonError {
    opacity: 0.6;
}
.buttonError:hover {
    opacity: 0.6 !important;
}
.loan__svg {
    margin-bottom: 20px;
}
.loan__svg g {
    stroke: white;
}
.loan__svg .svg-fill {
    fill: white;
}
.loan__title {
    font-family: 'roboto';
    font-size: 18px;
    color: #000303;
    letter-spacing: 0;
    text-align: center;
    line-height: 28px;
    width: 100%;
    display: inline-block;
    padding-bottom: 10px;
    text-align: center;
    font-weight: normal;
}
.loan__text {
    font-family: 'roboto';
    font-size: 16px;
    color: white;
    text-align: center;
    font-weight: normal;
}
.berekeningsimulatie {
    background: #d8e1e8;
}
.bs-form__slider__div__button--active {
    background-color: #8b9c22;
}
.bs-form__input__div button {
    background: #8b9c22;
}
.bs-form__slider__div__button--active:hover {
    background-color: #8b9c22;
}
.bereken-container {
    display: flex;
    justify-content: center;
}
.bs-form__bereken {
    background: #8b9c22;
    border-radius: 24.5px;
}
.bs-uitkomst__aanvragen {
    background: #03ace8;
}
.bs-uitkomst__resultaat__eur {
    color: white;
    font-family: 'crimson';
}
.submit__formulier {
    background: none;
    color: #0a51a1;
}
.simulation-legal__exit button {
    background: #0a51a1;
    background-color: rgba(255, 255, 255, .8);
    color: black;
    font-weight: bold;
}
.bs-uitkomst__resultaat-color {
    color: white;
}
.simulation-legal::-webkit-scrollbar-thumb {
    background-color: #0a51a1;
    background-color: rgba(255, 255, 255, .8);
}
.bs-uitkomst__jkp__info {
    color: #0a51a1;
}
.btn-simulator {
    margin-bottom: 10px;
    position: relative;
    display: inline-block;
    height: 50px !important;
    padding: 18px 20px;
    text-align: center;
    line-height: 14px;
    min-width: 160px;
    border-radius: 24.5px;
    color: white;
    font-size: 16px;
    background-color: #0a51a1;
}
.loan-detail__container {
    display: flex;
    flex-wrap: wrap;
    border-left: none;
    border-right: none;
}
.loan-detail__item {
    width: 50%;
    padding: 11px 8px;
}
.loan-detail__color {
    background: white;
    background-color: rgba(255, 255, 255, 0.2);
}
.vs__selected {
    height: 100% !important;
}
.vs--searchable .vs__dropdown-toggle {
    height: 50px !important;
}
#vs1__listbox li {
    display: flex;
    align-items: center;
}
#vs1__listbox li:hover {
    background: #8b9c22;
    cursor: pointer;
}
.vs__dropdown-option {
    height: 40px !important;
}
.vs__dropdown-option .vs__dropdown-option--selected {
    background: #8b9c22 !important;
    height: 40px !important;
}
.vs__dropdown-option--highlight {
    background: #8b9c22 !important;
    height: 40px !important;
}
button.vs__clear {
    display: none;
}


.v-select{position:relative;font-family:inherit}.v-select,.v-select *{box-sizing:border-box}@-webkit-keyframes vSelectSpinner{0%{transform:rotate(0deg)}to{transform:rotate(1turn)}}@keyframes vSelectSpinner{0%{transform:rotate(0deg)}to{transform:rotate(1turn)}}.vs__fade-enter-active,.vs__fade-leave-active{pointer-events:none;transition:opacity .15s cubic-bezier(1,.5,.8,1)}.vs__fade-enter,.vs__fade-leave-to{opacity:0}.vs--disabled .vs__clear,.vs--disabled .vs__dropdown-toggle,.vs--disabled .vs__open-indicator,.vs--disabled .vs__search,.vs--disabled .vs__selected{cursor:not-allowed;background-color:#f8f8f8}.v-select[dir=rtl] .vs__actions{padding:0 3px 0 6px}.v-select[dir=rtl] .vs__clear{margin-left:6px;margin-right:0}.v-select[dir=rtl] .vs__deselect{margin-left:0;margin-right:2px}.v-select[dir=rtl] .vs__dropdown-menu{text-align:right}.vs__dropdown-toggle{-webkit-appearance:none;-moz-appearance:none;appearance:none;display:flex;padding:0 0 4px;background:none;border:1px solid rgba(60,60,60,.26);border-radius:4px;white-space:normal}.vs__selected-options{display:flex;flex-basis:100%;flex-grow:1;flex-wrap:wrap;padding:0 2px;position:relative}.vs__actions{display:flex;align-items:center;padding:4px 6px 0 3px}.vs--searchable .vs__dropdown-toggle{cursor:text}.vs--unsearchable .vs__dropdown-toggle{cursor:pointer}.vs--open .vs__dropdown-toggle{border-bottom-color:transparent;border-bottom-left-radius:0;border-bottom-right-radius:0}.vs__open-indicator{fill:rgba(60,60,60,.5);transform:scale(1);transition:transform .15s cubic-bezier(1,-.115,.975,.855);transition-timing-function:cubic-bezier(1,-.115,.975,.855)}.vs--open .vs__open-indicator{transform:rotate(180deg) scale(1)}.vs--loading .vs__open-indicator{opacity:0}.vs__clear{fill:rgba(60,60,60,.5);padding:0;border:0;background-color:transparent;cursor:pointer;margin-right:8px}.vs__dropdown-menu{display:block;box-sizing:border-box;position:absolute;top:calc(100% - 1px);left:0;z-index:1000;padding:5px 0;margin:0;width:100%;max-height:350px;min-width:160px;overflow-y:auto;box-shadow:0 3px 6px 0 rgba(0,0,0,.15);border:1px solid rgba(60,60,60,.26);border-top-style:none;border-radius:0 0 4px 4px;text-align:left;list-style:none;background:#fff}.vs__no-options{text-align:center}.vs__dropdown-option{line-height:1.42857143;display:block;padding:3px 20px;clear:both;color:#333;white-space:nowrap}.vs__dropdown-option:hover{cursor:pointer}.vs__dropdown-option--highlight{background:#5897fb;color:#fff}.vs__dropdown-option--disabled{background:inherit;color:rgba(60,60,60,.5)}.vs__dropdown-option--disabled:hover{cursor:inherit}.vs__selected{display:flex;align-items:center;background-color:#f0f0f0;border:1px solid rgba(60,60,60,.26);border-radius:4px;color:#333;line-height:1.4;margin:4px 2px 0;padding:0 .25em}.vs__deselect{display:inline-flex;-webkit-appearance:none;-moz-appearance:none;appearance:none;margin-left:4px;padding:0;border:0;cursor:pointer;background:none;fill:rgba(60,60,60,.5);text-shadow:0 1px 0 #fff}.vs--single .vs__selected{background-color:transparent;border-color:transparent}.vs--single.vs--open .vs__selected{position:absolute;opacity:.4}.vs--single.vs--searching .vs__selected{display:none}.vs__search::-webkit-search-cancel-button{display:none}.vs__search::-ms-clear,.vs__search::-webkit-search-decoration,.vs__search::-webkit-search-results-button,.vs__search::-webkit-search-results-decoration{display:none}.vs__search,.vs__search:focus{-webkit-appearance:none;-moz-appearance:none;appearance:none;line-height:1.4;font-size:1em;border:1px solid transparent;border-left:none;outline:none;margin:4px 0 0;padding:0 7px;background:none;box-shadow:none;width:0;max-width:100%;flex-grow:1}.vs__search::-webkit-input-placeholder{color:inherit}.vs__search::-moz-placeholder{color:inherit}.vs__search:-ms-input-placeholder{color:inherit}.vs__search::-ms-input-placeholder{color:inherit}.vs__search::placeholder{color:inherit}.vs--unsearchable .vs__search{opacity:1}.vs--unsearchable .vs__search:hover{cursor:pointer}.vs--single.vs--searching:not(.vs--open):not(.vs--loading) .vs__search{opacity:.2}.vs__spinner{align-self:center;opacity:0;font-size:5px;text-indent:-9999em;overflow:hidden;border:.9em solid hsla(0,0%,39.2%,.1);border-left-color:rgba(60,60,60,.45);transform:translateZ(0);-webkit-animation:vSelectSpinner 1.1s linear infinite;animation:vSelectSpinner 1.1s linear infinite;transition:opacity .1s}.vs__spinner,.vs__spinner:after{border-radius:50%;width:5em;height:5em}.vs--loading .vs__spinner{opacity:1}
