.btn {
    position: relative;
    display: inline-block;
    height: 50px;
    padding: 18px 20px;
    text-align: center;
    line-height: 14px;
    min-width: 160px;
    border-radius: 24.5px;
    color: white;
    font-size: 16px;
}

.btn-blue {
    background-color: $primary-darkblue;

    &:hover {
        background-color: $primary-lightblue;
        color: white;
    }
}

.btn-green {
    background-color: $sec-green;

    &:hover {
        background-color: $sec-darkgrey;
        color: white;
    }
}

.btn-yellow {
    background-color: $sec-yellow;

    & svg {
        position: absolute;
        right: -31px;
        top: -28px;
    }

    &:hover {
        background-color: $sec-yellow;
        color: white;

        & .wifi-wave1 {
            opacity: 1;
            animation: example 1s .2s ease-in-out infinite;
        }

        & .wifi-wave2 {
            opacity: 1;
            animation: example2 1s .5s ease-in-out infinite;
        }
        
    }
}

@keyframes example {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
  }

  @keyframes example2 {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
  }