.btn {
    display: inline-block;
    height: 50px;
    padding: 18px 20px;
    text-align: center;
    line-height: 14px;
    min-width: 160px;
    border-radius: 24.5px;
    color: white;
}

.btn-blue {
    background-color: $primary-darkblue;

    &:hover {
        background-color: $primary-lightblue;
        color: white;
    }
}

.btn-green {
    background-color: $sec-green;

    &:hover {
        background-color: $sec-darkgrey;
        color: white;
    }
}