.main-nav {
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 0;
    height: 60px;
    background-color: white;

    &__list {

        &__item {
            transition: all .5s;

            & a {
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                color: $sec-black;
                font-family: 'roboto-bold';
                border: 1px solid $primary-grey;
                border-left: unset;
                text-transform: lowercase;
                transition: all .2s;

                &:hover {
                    border-bottom: 3px solid $primary-darkblue;
                    color: $primary-darkblue;
                }
            }
        }
    }

}

.main-nav__list__item-home {
    background-color: $sec-yellow;
}

.main-nav__logo {
    display: flex;
    align-items: center;
    background-color: $primary-darkblue;
    padding: 15px;

    & img {
        display: inline-block;
        height: 31px;
        width: 119px;
    }
}


.mobile-nav {
    overflow-y: scroll;
    background-color: white;
    position: fixed;
    top: 60px;
    right: 0;
    z-index: 2;
    height: calc(100% - 60px);
    transition: transform .5s;
    transform: translateX(100%);

    &__list {

        &__item {

            a {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 80px;
                font-weight: bold;
                font-size: 14px;
                color: #222222;
                text-align: center;
                line-height: 24px;
                text-transform: lowercase;
                width: 250px;
                border: 1px solid $primary-grey;
                border-top: 1px solid white;
            }
        }

    }

    &__language-container {
        height: 80px;
    }

    &__language {
        

        &__item {
            width: 100%;
            height: 100%;

            &__link {
                display: flex;
                align-items: center;
                width: 100%;
                height: 100%;
                font-weight: bold;
                font-size: 14px;
                color: #A0A5A8;
                letter-spacing: 0.52px;
                text-align: center;
                line-height: 24px;
                text-transform: uppercase;
            }

            &__link-left {
                justify-content: flex-end;
                padding-right: 20px;
            }

            &__link-right {
                justify-content: flex-start;
                padding-left: 20px;
            }

            &__link-active {
                font-weight: bold;
                color: black;
            }
        }
    }
}

.mobile-nav__item__link {
    padding: 0 20px;
    text-transform: uppercase!important;
}

.mobile-nav__active {
    transform: translateX(0);
}

.mobile-nav__item {
    padding: 0 20px;
}
.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 63px;
    // padding: 0 20px;
}
.hamburger .line{
    width: 22px;
    height: 2px;
    // display: block;
    margin: 2px auto;
    transition: all 0.5s;
    background: black;
  }
  
#hamburger-1.is-active .line:nth-child(2){
    opacity: 0;
}

#hamburger-1.is-active .line:nth-child(1){
    transform: translateY(6px) translateX(-2px) rotate(45deg);
    width: 26px;
}

#hamburger-1.is-active .line:nth-child(3){
    transform: translateY(-6px) translateX(-2px) rotate(-45deg);
    width: 26px;
}



// // Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

    .main-nav__logo {
        padding: 8px 19px;
    
        & img {
            height: 100%;
            width: 100%;
        }
    }
   
}


// // Medium devices (tablets, 768px and up)
@media (min-width: 768px) {


}


// // Large devices (desktops, 992px and up)
@media (min-width: 992px) {

    .main-nav__logo {
        padding: 19px;
    }

    .main-nav {
        height: 80px;
    }

    .mobile-nav {
        height: calc(100% - 80px);
    }

    
}

