.main-nav {
    height: 80px;

    &__list {

        &__item {

            & a {
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                color: $sec-black;
                font-family: 'roboto-bold';
                border: 1px solid $primary-grey;
                text-transform: lowercase;
            }
        }
    }

}

.main-nav__list__item-home {
    background-color: $sec-yellow;
}

.main-nav__logo {
    display: flex;
    align-items: center;
    background-color: $primary-darkblue;

    & img {
        display: inline-block;
        height: 100%;
        width: 100%;
        padding: 19px;
    }
}